<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>견강할고양</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap"
	rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
	<div th:replace="~{hospital/header :: header}"></div>
	<div class="container-xl">
		<div id="tab" class="d-flex">
			<button class="btn btn-main">반려인</button>
			<button class="btn btn-outline-main">동물병원</button>
		</div>
		<div id="user">
			<form id="frmUser">
				<input type="hidden" name="role" value="ROLE_USER">
				<div class="mb-3">
					<label class="form-label">아이디</label>
					<input type="text" name="username" class="form-control">
				</div>
				<div class="mb-3">
					<label class="form-label">비밀번호</label> 
					<input type="password" name="password" class="form-control">
				</div>
				
				<
				<input type="button" value="로그인" class="btn btn-main" onclick="loginUser()">
				<br><a href="#" >회원가입</a>
			</form>
		</div>
	</div>
	<div id="result"></div>
	<button onclick="tokenTest()">토큰테스트</button>
	
	
	
	
	
	<div th:replace="~{hospital/footer :: footer}"></div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script>
		function loginUser() {
			//alert("로그인들어옴");
			
			const frm = document.querySelector("#frmUser");
			const formData = new FormData(frm);
						
			const xhttp = new XMLHttpRequest();
			xhttp.onload = function() {
				 if (this.status === 200) {
	                    alert("로그인 성공");
	                    const token = this.getResponseHeader("Authorization");
	                    if (token) {
	                        localStorage.setItem("token", token);
	                    }
	                    const MemberId = this.getResponseHeader("MemberId");
	                    if (MemberId) {
	                        localStorage.setItem("MemberId", MemberId);
	                    }
	                    
	                } else if (this.status === 401) {
	                    alert("로그인 실패 : 아이디,패스워드를 다시 입력해주세요.");
	                }
			}
			xhttp.open("post", "http://localhost:9001/api/v1/login");
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");	

			xhttp.send(new URLSearchParams(formData).toString());
		}
		
		
		function tokenTest() {
			//alert("로그인들어옴");
			
			//const frm = document.querySelector("#frmUser");
			//const formData = new FormData(frm);
			const token = localStorage.getItem("token");
			alert(token);
			const xhttp = new XMLHttpRequest();
			
			xhttp.onload = function() {
				 if (this.status === 200) {
	                    alert("토큰 성공");
	                    document.getElementById("result").innerHTML = this.responseText;
	                    
	                } else if (this.status === 401) {
	                    alert("토큰 실패");
	                }
			}
			xhttp.open("post", "http://localhost:9001/api/v1/aaa");
			//xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");	
			xhttp.setRequestHeader("Authorization",token);
			xhttp.send();
		}
	</script>


</body>
</html>