<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>견강할고양</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>	
<style>
	
</style>
</head>
<body class="d-flex flex-column h-100">
	<div th:replace="~{user/header :: header}"></div>
	
	<div class="container-xl">
		<h1>회원가입</h1>
		<div id="tab" class="d-flex">
			<button id ="btnUser" class="btn btn-main" onclick="showUser()">반려인</button>
			<button id ="btnHospital" class="btn btn-outline-main" onclick="showHospital()">동물병원</button>
		</div><br>

		<form id="frmUser">


			<div class="mb-3">
				<div class="inputBox">
					<div class="d-flex">
						<label class="form-label">아이디</label> <input type="button"
							class="btn btn-main ms-auto" onclick="checkUsername(event)"
							value="중복체크">
					</div>
					<input type="text" name="username" id="username" oninput="usernameCheckReset()"
						class="form-control">
				</div>
				<div id="usernameResult"></div>
			</div>
			<div class="mb-3">
				<label class="form-label">비밀번호</label> <input type="password"
					name="password" class="form-control">
				<div>비밀번호는 5자 이상, 15자 이하, 영어, 숫자, 특수문자를 포함해야 합니다.</div>
			</div>
			<div class="mb-3">
				<label class="form-label">주소</label> <select id="address1"
					class="form-control" name="address1"
					onchange="address1SelectChanged()"></select> <select id="address2"
					class="form-control" name="address2"></select> <input type="text"
					class="form-control" name="detailAddress">
			</div>
			<div class="mb-3">
				<label class="form-label">전화번호</label> <input type="text"
					name="phone" class="form-control">
			</div>
			<div class="mb-3">
				<label class="form-label">이메일</label> <input type="text"
					name="email" class="form-control">
			</div>

			<div id="user">
				<div class="mb-3">
					<label class="form-label">이름</label> <input type="text" name="name"
						class="form-control">
				</div>

				<div class="mb-3">
					<div class="inputBox">
						<div class="d-flex">
							<label class="form-label">닉네임</label> <input type="button"
								class="btn btn-main ms-auto" value="중복체크"
								onclick="checkNickname(event)">
						</div>
						<input type="text" name="nickname" id="nickname"
							class="form-control">
					</div>
				</div>
				<input type="hidden" name="role" value="ROLE_USER"> <input
					type="button" value="회원가입" class="btn btn-main"
					onclick="joinUser()">
				<div id="nicknameResult"></div>
				<br> <a href="/login_form">로그인</a>
			</div>


			<div id="hospital" style="display: none;">

				<div class="mb-3">
					<div class="inputBox">
						<div class="d-flex">
							<label class="form-label">사업자번호</label> <input type="button"
								class="btn btn-main ms-auto"
								onclick="checkBusinessNumber(event)" value="조회">
						</div>
						<input type="number" name="business_number" id="business_number" class="form-control">
						<div id="businessNumberResult"></div>
					</div>
				</div>
				<div class="mb-3">
					<label class="form-label">병원명</label> <input type="text"
						name="hospital_name" class="form-control">
				</div>
				<div class="mb-3">
					<label class="form-label">대표자</label> <input type="text"
						name="representative" class="form-control">
				</div>
				<div class="mb-3">
					<label class="form-label">영업정보</label>
					
					
					  <div class="accordion" id="accordionExample">
					   <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
        공통
      </button>
    </h2>
    <div id="collapseZero" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div><input type="hidden" name="commonWeek" value="com" id="commonCheckbox">공통</div>
        <div class="d-flex">
          <div>오픈시간<br>
            <select name="commonStartHour" onchange="updateCommonEndTimeOptions()">
              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
            </select>
            :
            <select name="commonStartMinute">
              <option value="00">00</option>
              <option value="30">30</option>
            </select>
           &nbsp;~&nbsp;&nbsp;
          </div>
          
          <div>마감시간<br>
            <select name="commonEndHour">
              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
            </select>
            :
            <select name="commonEndMinute">
              <option value="00">00</option>
              <option value="30">30</option>
            </select>
          </div>
        </div>
        
        <div class="d-flex">
          <div>점심시간<br>
            <select name="commonLunchStartHour" onchange="updateCommonLunchEndTimeOptions()">
              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
            </select>
            :
            <select name="commonLunchStartMinute">
              <option value="00">00</option>
              <option value="30">30</option>
            </select>
            &nbsp;~&nbsp;&nbsp;
          </div>
          
          <div><input type="checkbox" name="commonLunch" value="no"onchange="toggleLunchTimeSelectors('com')">점심시간 없음<br>
            <select name="commonLunchEndHour">
              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
            </select>
            :
            <select name="commonLunchEndMinute">
              <option value="00">00</option>
              <option value="30">30</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 각 요일에 동일한 구조 반복 -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        월
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div>
          <input type="checkbox" name="week" value="mon" onchange="toggleTimeSelectors('mon')">월 (영업시 체크)&nbsp;&nbsp;&nbsp;
          <input type="checkbox" onclick="copyCommonSchedule(this, 'mon')">공통 복사
        </div>
        <div class="d-flex">
          <div>오픈시간<br>
            <select name="startHour_mon" onchange="updateEndTimeOptions('mon')" disabled>
              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
            </select>
            :
            <select name="startMinute_mon" disabled>
              <option value="00">00</option>
              <option value="30">30</option>
            </select>
            &nbsp;~&nbsp;&nbsp;
          </div>
          
          <div>마감시간<br>
            <select name="endHour_mon"  disabled>
              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
            </select>
            :
            <select name="endMinute_mon" disabled>
              <option value="00">00</option>
              <option value="30">30</option>
            </select>
          </div>
        </div>
        <div class="d-flex">
          <div>점심시간<br>
            <select name="lunchStartHour_mon" onchange="updateLunchEndTimeOptions('mon')" disabled>
              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
            </select>
            :
            <select name="lunchStartMinute_mon" disabled>
              <option value="00">00</option>
              <option value="30">30</option>
            </select>
            &nbsp;~&nbsp;&nbsp;
          </div>
          
          <div><input type="checkbox" name="lunch_mon" value="no" onchange="toggleLunchTimeSelectors('mon')" disabled>점심시간 없음<br>
            <select name="lunchEndHour_mon" disabled>
              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
            </select>
            :
            <select name="lunchEndMinute_mon" disabled>
              <option value="00">00</option>
              <option value="30">30</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
					  <!-- 화요일부터 공휴일까지 동일한 구조 반복 -->
					  <div class="accordion-item">
					    <h2 class="accordion-header">
					      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					        화
					      </button>
					    </h2>
					    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					      <div class="accordion-body">
					        <div><input type="checkbox" name="week" value="tue" onchange="toggleTimeSelectors('tue')">화 (영업시 체크)&nbsp;&nbsp;&nbsp;<input type="checkbox" onclick="copyCommonSchedule(this, 'tue')">공통 복사</div>
					        
					        <div class="d-flex">
					          <div>오픈시간<br>
					            <select name="startHour_tue" onchange="updateEndTimeOptions('tue')" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="startMinute_tue" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					            &nbsp;~&nbsp;&nbsp;
					          </div>
					          
					          <div>마감시간<br>
					            <select name="endHour_tue" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="endMinute_tue" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					          </div>
					        </div>
					        <div class="d-flex">
					          <div>점심시간<br>
					            <select name="lunchStartHour_tue" onchange="updateLunchEndTimeOptions('tue')" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="lunchStartMinute_tue" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					            &nbsp;~&nbsp;&nbsp;
					          </div>
					          
					          <div><input type="checkbox" name="lunch_tue" value="no" onchange="toggleLunchTimeSelectors('tue')" disabled>점심시간 없음<br>
					            <select name="lunchEndHour_tue" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="lunchEndMinute_tue" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					          </div>
					        </div>
					      </div>
					    </div>
					  </div>
					  <!-- 수요일 -->
					  <div class="accordion-item">
					    <h2 class="accordion-header">
					      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					        수
					      </button>
					    </h2>
					    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					      <div class="accordion-body">
					        <div><input type="checkbox" name="week" value="wed" onchange="toggleTimeSelectors('wed')">수 (영업시 체크)&nbsp;&nbsp;&nbsp;
					        <input type="checkbox" onclick="copyCommonSchedule(this, 'wed')">공통 복사</div>
					        <div class="d-flex">
					          <div>오픈시간<br>
					            <select name="startHour_wed" onchange="updateEndTimeOptions('wed')" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="startMinute_wed" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					            &nbsp;~&nbsp;&nbsp;
					          </div>
					          
					          <div>마감시간<br>
					            <select name="endHour_wed" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="endMinute_wed" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					            
					          </div>
					        </div>
					        <div class="d-flex">
					          <div>점심시간<br>
					            <select name="lunchStartHour_wed"  onchange="updateLunchEndTimeOptions('wed')" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="lunchStartMinute_wed" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					            &nbsp;~&nbsp;&nbsp;
					          </div>
					          
					          <div><input type="checkbox" name="lunch_wed" value="no" onchange="toggleLunchTimeSelectors('wed')" disabled>점심시간 없음<br>
					            <select name="lunchEndHour_wed" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="lunchEndMinute_wed" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					          </div>
					        </div>
					      </div>
					    </div>
					  </div>
					  <!-- 목요일 -->
					  <div class="accordion-item">
					    <h2 class="accordion-header">
					      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					        목
					      </button>
					    </h2>
					    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					      <div class="accordion-body">
					        <div><input type="checkbox" name="week" value="thu" onchange="toggleTimeSelectors('thu')">목 (영업시 체크)&nbsp;&nbsp;&nbsp;
					        <input type="checkbox" onclick="copyCommonSchedule(this, 'thu')">공통 복사</div>
					        <div class="d-flex">
					          <div>오픈시간<br>
					            <select name="startHour_thu" onchange="updateEndTimeOptions('thu')" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="startMinute_thu" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					              
					            </select>
					            &nbsp;~&nbsp;&nbsp;
					          </div>
					          
					          <div>마감시간<br>
					            <select name="endHour_thu" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="endMinute_thu" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					          </div>
					        </div>
					        <div class="d-flex">
					          <div>점심시간<br>
					            <select name="lunchStartHour_thu" onchange="updateLunchEndTimeOptions('thu')" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="lunchStartMinute_thu" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					            &nbsp;~&nbsp;&nbsp;
					          </div>
					          
					          <div><input type="checkbox" name="lunch_thu" value="no" onchange="toggleLunchTimeSelectors('thu')" disabled>점심시간 없음<br>
					            <select name="lunchEndHour_thu" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="lunchEndMinute_thu" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					          </div>
					        </div>
					      </div>
					    </div>
					  </div>
					  <!-- 금요일 -->
					  <div class="accordion-item">
					    <h2 class="accordion-header">
					      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
					        금
					      </button>
					    </h2>
					    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					      <div class="accordion-body">
					        <div><input type="checkbox" name="week" value="fri" onchange="toggleTimeSelectors('fri')">금 (영업시 체크)&nbsp;&nbsp;&nbsp;
					        <input type="checkbox" onclick="copyCommonSchedule(this, 'fri')">공통 복사</div>
					        <div class="d-flex">
					          <div>오픈시간<br>
					            <select name="startHour_fri" onchange="updateEndTimeOptions('fri')" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="startMinute_fri" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					            &nbsp;~&nbsp;&nbsp;
					          </div>
					          
					          <div>마감시간<br>
					            <select name="endHour_fri" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="endMinute_fri" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					          </div>
					        </div>
					        <div class="d-flex">
					          <div>점심시간<br>
					            <select name="lunchStartHour_fri"  onchange="updateLunchEndTimeOptions('fri')" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="lunchStartMinute_fri" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					            &nbsp;~&nbsp;&nbsp;
					          </div>
					         
					          <div><input type="checkbox" name="lunch_fri" value="no" onchange="toggleLunchTimeSelectors('fri')" disabled>점심시간 없음<br>
					            <select name="lunchEndHour_fri" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="lunchEndMinute_fri" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					          </div>
					        </div>
					      </div>
					    </div>
					  </div>
					  <!-- 토요일 -->
					  <div class="accordion-item">
					    <h2 class="accordion-header">
					      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
					        토
					      </button>
					    </h2>
					    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					      <div class="accordion-body">
					        <div><input type="checkbox" name="week" value="sat" onchange="toggleTimeSelectors('sat')">토 (영업시 체크)&nbsp;&nbsp;&nbsp;
					        <input type="checkbox" onclick="copyCommonSchedule(this, 'sat')">공통 복사</div>
					        <div class="d-flex">
					          <div>오픈시간<br>
					            <select name="startHour_sat" onchange="updateEndTimeOptions('sat')"  disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="startMinute_sat" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					            &nbsp;~&nbsp;&nbsp;
					          </div>
					          
					          <div>마감시간<br>
					            <select name="endHour_sat" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="endMinute_sat" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					          </div>
					        </div>
					        <div class="d-flex">
					          <div>점심시간<br>
					            <select name="lunchStartHour_sat"  onchange="updateLunchEndTimeOptions('sat')" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="lunchStartMinute_sat" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					            &nbsp;~&nbsp;&nbsp;
					          </div>
					          
					          <div><input type="checkbox" name="lunch_sat" value="no" onchange="toggleLunchTimeSelectors('sat')" disabled>점심시간 없음<br>
					            <select name="lunchEndHour_sat" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="lunchEndMinute_sat" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					          </div>
					        </div>
					      </div>
					    </div>
					  </div>
					  <!-- 일요일 -->
					  <div class="accordion-item">
					    <h2 class="accordion-header">
					      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
					        일
					      </button>
					    </h2>
					    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					      <div class="accordion-body">
					        <div><input type="checkbox" name="week" value="sun" onchange="toggleTimeSelectors('sun')">일 (영업시 체크)&nbsp;&nbsp;&nbsp;
					        <input type="checkbox" onclick="copyCommonSchedule(this, 'sun')">공통 복사</div>
					        <div class="d-flex">
					          <div>오픈시간<br>
					            <select name="startHour_sun" onchange="updateEndTimeOptions('sun')" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="startMinute_sun" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					            &nbsp;~&nbsp;&nbsp;
					          </div>
					          
					          <div>마감시간<br>
					            <select name="endHour_sun" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="endMinute_sun" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					          </div>
					        </div>
					        <div class="d-flex">
					          <div>점심시간<br>
					            <select name="lunchStartHour_sun" onchange="updateLunchEndTimeOptions('sun')" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="lunchStartMinute_sun" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					            &nbsp;~&nbsp;&nbsp;
					          </div>
					          
					          <div><input type="checkbox" name="lunch_sun" value="no" onchange="toggleLunchTimeSelectors('sun')" disabled>점심시간 없음<br>
					            <select name="lunchEndHour_sun" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="lunchEndMinute_sun" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					          </div>
					        </div>
					      </div>
					    </div>
					  </div>
					  <!-- 공휴일 -->
					  <div class="accordion-item">
					    <h2 class="accordion-header">
					      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
					        공휴일
					      </button>
					    </h2>
					    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					      <div class="accordion-body">
					        <div><input type="checkbox" name="week" value="hol" onchange="toggleTimeSelectors('hol')">공휴일 (영업시 체크)&nbsp;&nbsp;&nbsp;
					        <input type="checkbox" onclick="copyCommonSchedule(this, 'hol')">공통 복사</div>
					        <div class="d-flex">
					          <div>오픈시간<br>
					            <select name="startHour_hol" onchange="updateEndTimeOptions('hol')" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="startMinute_hol" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					          &nbsp;~&nbsp;&nbsp;
					          </div>
					          
					          <div>마감시간<br>
					            <select name="endHour_hol" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="endMinute_hol" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					          </div>
					        </div>
					        <div class="d-flex">
					          <div>점심시간<br>
					            <select name="lunchStartHour_hol" onchange="updateLunchEndTimeOptions('hol')" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 23)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="lunchStartMinute_hol" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					            &nbsp;~&nbsp;&nbsp;
					          </div>
					          
					          <div><input type="checkbox" name="lunch_hol" value="no" onchange="toggleLunchTimeSelectors('hol')" disabled>점심시간 없음<br>
					            <select name="lunchEndHour_hol" disabled>
					              <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour < 10 ? '0' + hour : hour}"></option>
					            </select>
					            :
					            <select name="lunchEndMinute_hol" disabled>
					              <option value="00">00</option>
					              <option value="30">30</option>
					            </select>
					          </div>
					        </div>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				
				
				
				
				
				
				
				  <div class="mb-3">
            <div class="inputBox">
                <div class="d-flex">
                    <label class="form-label">수의사 이름</label> 
                    <input type="text" class="form-control" name="doctorName">
                    <input type="button" class="btn btn-main ms-auto" onclick="addDoctor()" value="추가">
                </div>
                <div id="doctorResult"></div>
            </div>
        </div>
        <input type="hidden" id="doctorNamesField" name="doctorNamesField">
        
        
        
        
        
        
        
			<div class="mb-3">
				<label class="form-label">제휴포인트 사용 여부</label><br> 
				<input type="radio" th:name="partnership" id="partnershipTrue" th:value="true"><label for="partnershipTrue">포인트 사용 제휴 가입</label><br>
                <input type="radio" th:name="partnership" id="partnershipFalse" th:value="false"><label for="partnershipFalse">포인트 사용 제휴 미가입</label>
			</div>
			<div class="mb-3">
			  <label for="exampleFormControlTextarea1" class="form-label">소개글</label>
			  <textarea class="form-control" name="introduction" rows="5"></textarea>
			</div>

			<div class="mb-3">
				<label class="form-label">로고 이미지</label> 
				<input type="file" name="file" class="form-control">
			</div>
			

				<div class="mb-3"></div>
				 <input
					type="button" value="회원가입" class="btn btn-main" id="hospitalJoinButton"
					onclick="joinHospital()">
				<div id="nicknameResult"></div>
				<br> <a href="/login_form">로그인</a>
			</div>
		</form>






	</div>
	
	
    
	<div th:replace="~{hospital/footer :: footer}"></div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

	<script src="/js/address.js"></script>
	<script>
	readyAddress();
	let loginRole =localStorage.getItem("role");
	if(loginRole){
		alert("이미 로그인 상태입니다.");
		if(loginRole=="ROLE_HOSPITAL"){
		window.location.href="/hospital";
		}else{
			window.location.href="/";
		}
	}
	//병원,사용자 탭
	 function showUser() {
            document.getElementById("user").style.display = "block";
            document.getElementById("hospital").style.display = "none";
            const frm = document.querySelector("#frmUser");
            frm.role.value="ROLE_USER";
            
            document.getElementById("btnUser").className = "btn btn-main";
            document.getElementById("btnHospital").className = "btn btn-outline-main";
            
        }

        function showHospital() {
            document.getElementById("user").style.display = "none";
            document.getElementById("hospital").style.display = "block";
            const frm = document.querySelector("#frmUser");
            frm.role.value="ROLE_WAIT";
            
            document.getElementById("btnUser").className = "btn btn-outline-main";
            document.getElementById("btnHospital").className = "btn btn-main";
        }
	
	
		//유저네임 중복확인
		function checkUsername(event){
			event.preventDefault();
			const username = document.querySelector("#username").value;
			//alert(username.value);
			if(username.length <3 ||username.length >12){
				alert("아이디를 3자 이상,12자 이하로 등록해주세요.");
				return;
			}
			const usernamePattern = /^[A-Za-z\d]+$/;

            if (!usernamePattern.test(username)) {
                alert("아이디는 영어와 숫자만 포함할 수 있습니다.");
                return;
            }
			
			const xhttp = new XMLHttpRequest();
			xhttp.onload = function() {
				//alert(this.responseText);
				var result = this.responseText;
				document.getElementById("usernameResult").innerHTML = result;
			}
			xhttp.open("post", "http://localhost:9001/api/v1/common/check/username");
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");	

			xhttp.send("username=" + username.value);
		}
		
		//유저네임 다시 입력시 중복 확인 했어도 다시 하게끔 하는 함수
		function usernameCheckReset(){
			document.querySelector("#usernameResult").innerHTML=``;
		}
		
		
		//닉네임 중복확인 
		function checkNickname(event){
			event.preventDefault();
			const nickname = document.querySelector("#nickname");
			//alert(username.value);
			if(nickname.value.length <3 ||nickname.value.length >12){
				alert("닉네임을 3자 이상,12자 이하로 등록해주세요.");
				return;
			}
			
			const xhttp = new XMLHttpRequest();
			xhttp.onload = function() {
				//alert(this.responseText);
				var result = this.responseText;
				document.getElementById("nicknameResult").innerHTML = result;
			}
			xhttp.open("post", "http://localhost:9001/api/v1/common/check/nickname");
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");	

			xhttp.send("nickname=" + nickname.value);
		}
		//유저 회원가입
		function joinUser() {
			//alert("조인들어옴");
			if (!userValidateForm()) {
                return;
            }
			const frm = document.querySelector("#frmUser");
			const frm_ = {
				"username" : frm.username.value,
				"password" : frm.password.value,
				"name" : frm.name.value,
				"email" : frm.email.value,
				"address" : frm.address1.value +"//"+frm.address2.value +"//"+frm.detailAddress.value ,
				"phone" : frm.phone.value,
				"nickname" : frm.nickname.value,
				"role" : frm.role.value
			};
			const data = JSON.stringify(frm_);
			//alert(data);
			
			const xhttp = new XMLHttpRequest();
			xhttp.onload = function() {
				//alert(this.responseText);
				
				//var result = this.responseText;
				//document.getElementById("result").innerHTML = result;
				if (this.status === 200){
					alert("회원가입에 성공했습니다.")
					window.location.href="/login_form";
				}else{
					alert("회원가입에 실패했습니다.")
				}
			}
			xhttp.open("post", "http://localhost:9001/api/v1/common/joinUser");
			xhttp.setRequestHeader("Content-type", "application/json");	

			xhttp.send(data);
		}
		
		//이메일 유효성검사
		function validateEmail(email) {
		    const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
		    return emailPattern.test(email);
		}
		//비밀번호 유효성검사
		function validatePassword(password) {
		    // 최소 5자 이상, 최대 15자 이하
		    if (password.length < 5 || password.length > 15) {
		        return false;
		    }

		    // 영어, 숫자, 특수문자를 포함하는지 검사하는 정규 표현식
		    const passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{5,15}$/;

		    return passwordPattern.test(password);
		}
		
		//유저 폼데이터 유효성 검사
		 function userValidateForm() {
	            const frm = document.querySelector("#frmUser");
	            const fields = ["username", "password", "name", "email", "address1", "address2", "detailAddress", "phone", "nickname"];
	            
	            for (let i = 0; i < fields.length; i++) {
	                const field = frm[fields[i]];
	                if (!field.value.trim()) {
	                    alert(fields[i] + " 항목을 채워주세요.");
	                    field.focus();
	                    return false;
	                }
	            }
	            const usernameResult = document.getElementById("usernameResult").innerText;
	            const nicknameResult = document.getElementById("nicknameResult").innerText;

	            if (!usernameResult.includes("사용가능")) {
	                alert("아이디 중복 체크를 확인해 주세요.");
	                document.querySelector("#username").focus();
	                return false;
	            }

	            if (!nicknameResult.includes("사용가능")) {
	                alert("닉네임 중복 체크를 확인해 주세요.");
	                document.querySelector("#nickname").focus();
	                return false;
	            }
	            
	            const email = frm.email.value.trim();
	            if (!validateEmail(email)) {
	                alert("올바른 이메일 주소를 입력해 주세요.");
	                frm.email.focus();
	                return false;
	            }
	            const password = frm.password.value.trim();
	            if (!validatePassword(password)) {
	                alert("비밀번호는 5자 이상 15자 이하의 길이여야 하며, 영어, 숫자, 특수문자를 포함해야 합니다.");
	                frm.password.focus();
	                return false;
	            }
	            
	            
	            return true;
	        }
		
		//의사 관련
		function addDoctor() {
            const doctorNameInput = document.querySelector('input[name="doctorName"]');
            const doctorName = doctorNameInput.value.trim();
            if (doctorName) {
                const doctorList = document.getElementById('doctorResult');
                const newDoctor = document.createElement('div');
                newDoctor.className = 'doctor-item d-flex align-items-center mt-2';
                newDoctor.innerHTML = `
                    <span>${doctorName}</span>
                    <button type="button" class="btn btn-danger btn-sm ms-2" onclick="removeDoctor(this)">x</button>
                    <input type="hidden" name="doctorNames" value="${doctorName}">
                `;
                doctorList.appendChild(newDoctor);
                updateDoctorNamesField();
                doctorNameInput.value = ''; // Clear the input field
            }
        }

        function removeDoctor(button) {
            const doctorItem = button.parentElement;
            doctorItem.remove();
            updateDoctorNamesField();
        }

        function updateDoctorNamesField() {
            const doctorNames = Array.from(document.getElementsByName('doctorNames')).map(input => input.value).join('//');
            document.getElementById('doctorNamesField').value = doctorNames;
        }
		
		//예약 관련
		  function gatherFormData() {
    const days = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'hol'];
    const jsonData = {};

    days.forEach(day => {
        const accordionItem = document.querySelector(`input[name="week"][value="${day}"]`).closest('.accordion-item');
        const isChecked = accordionItem.querySelector(`input[name="week"][value="${day}"]`).checked;

        if (isChecked) {
            const startHour = accordionItem.querySelector(`select[name="startHour_${day}"]`).value;
            const startMinute = accordionItem.querySelector(`select[name="startMinute_${day}"]`).value;
            const endHour = accordionItem.querySelector(`select[name="endHour_${day}"]`).value;
            const endMinute = accordionItem.querySelector(`select[name="endMinute_${day}"]`).value;
            const lunchStartHour = accordionItem.querySelector(`select[name="lunchStartHour_${day}"]`).value;
            const lunchStartMinute = accordionItem.querySelector(`select[name="lunchStartMinute_${day}"]`).value;
            const lunchEndHour = accordionItem.querySelector(`select[name="lunchEndHour_${day}"]`).value;
            const lunchEndMinute = accordionItem.querySelector(`select[name="lunchEndMinute_${day}"]`).value;
            const noLunch = accordionItem.querySelector(`input[name="lunch_${day}"][value="no"]`).checked;

            const start = `${startHour}:${startMinute}`;
            const end = `${endHour}:${endMinute}`;
            const lunchStart = `${lunchStartHour}:${lunchStartMinute}`;
            const lunchEnd = `${lunchEndHour}:${lunchEndMinute}`;

            const businessTime = `${start}//${end}`;
            const lunchTime = noLunch ? '점심시간 없음' : `${lunchStart}//${lunchEnd}`;

            jsonData[day] = [`영업시간 : ${businessTime}`, `점심시간 : ${lunchTime}`];
        } else {
            jsonData[day] = ['영업시간 : 영업 안함'];
        }
    });

    return jsonData;
}

		
		//병원 회원가입
		function joinHospital(){
			//alert("조인들어옴");
			if (!hospitalValidateForm()) {
                return;
            }
			//alert(JSON.stringify(gatherFormData()));
			
			const frm = document.querySelector("#frmUser");
			const formData = new FormData(frm);
			//const data = JSON.stringify(frm_);
			const businessHours = gatherFormData();
       		formData.append('businessHours', JSON.stringify(businessHours));
       		
       		formData.append('address', frm.address1.value + "//" + frm.address2.value + "//" + frm.detailAddress.value);

	         
	         // 추가 누락된 필드를 formData에 추가
	         formData.append('businessNumber', frm.business_number.value); // 필드명 변경
	         formData.append('hospitalName', frm.hospital_name.value); // 필드명 변경
			const xhttp = new XMLHttpRequest();
			xhttp.onload = function() {
				//alert(this.responseText);
				
				if(this.status ==200){
					alert("회원가입성공.승인을 기다려주세요.");
					window.location.href="/";
					
				}else{
					alert("회원가입 실패");
				}
				
			}
			xhttp.open("post", "http://localhost:9001/api/v1/common/joinHospital");
			//xhttp.setRequestHeader("Content-type", "multipart/form-data");	

			xhttp.send(formData);
		}
		
		
		//병원 유효성검사
		function hospitalValidateForm() {
            const frm = document.querySelector("#frmUser");
            const fields = ["username", "password", "email", "address1", "address2", "detailAddress", "phone"];
            
            for (let i = 0; i < fields.length; i++) {
                const field = frm[fields[i]];
                if (!field.value.trim()) {
                    alert(fields[i] + " 항목을 채워주세요.");
                    field.focus();
                    return false;
                }
            }
            const usernameResult = document.getElementById("usernameResult").innerText;
            

            if (!usernameResult.includes("사용가능")) {
                alert("아이디 중복 체크를 확인해 주세요.");
                document.querySelector("#username").focus();
                return false;
            }
            
            //의사 유효성 검사
            let doctorNamesField = frm.doctorNamesField.value.trim();
            if(doctorNamesField ==""){
            	alert("의사를 한명 이상 등록하세요.");
            	return false;
            }

            
            const email = frm.email.value.trim();
            if (!validateEmail(email)) {
                alert("올바른 이메일 주소를 입력해 주세요.");
                frm.email.focus();
                return false;
            }
            const password = frm.password.value.trim();
            if (!validatePassword(password)) {
                alert("비밀번호는 5자 이상 15자 이하의 길이여야 하며, 영어, 숫자, 특수문자를 포함해야 합니다.");
                frm.password.focus();
                return false;
            }
            
            const partnership = frm.partnership.value;
            if (!partnership) {
                alert("제휴 포인트 사용 여부를 선택해 주세요");
                
                return false;
            }
            
            
            return true;
        }
		
		
		//사업자 번호 확인
		 function checkBusinessNumber() {
             var data = {
                 "b_no": [$("#business_number").val()] // 사업자번호 "xxxxxxx" 로 조회 시,
             };
				//alert($("#business_number").val());
             $.ajax({
                 url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=pj1%2B669xKchgAcU3BhHK0bxmPPyBX9A%2FSmvsKpvuzhwIroogcKjl4B5qUfW3XYojSy0TgPWr6jrBOREJkxghlA%3D%3D",  // serviceKey 값을 YOUR_SERVICE_KEY에 입력
                 type: "POST",
                 data: JSON.stringify(data), // json 을 string으로 변환하여 전송
                 dataType: "JSON",
                 contentType: "application/json",
                 accept: "application/json",
                 success: function (result) {
                	 console.log(result);
                     console.log(result.data[0]['tax_type']);
                     let taxType = result.data[0]['tax_type'];
                     $("#businessNumberResult").text(taxType);

                     //if (taxType === "국세청에 등록되지 않은 사업자등록번호입니다.") {
                    //     $("#hospitalJoinButton").prop("disabled", true);
                    // } else {
                   //      $("#hospitalJoinButton").prop("disabled", false);
                   //  }
                 },
                 error: function (result) {
                     console.log(result.responseText); //responseText의 에러메세지 확인
                 }
             });
         }

		//영업시간 복사하는 함수
		function copyCommonSchedule(checkbox, day) {
		    if (checkbox.checked) {
		      const commonStartHour = document.querySelector('select[name="commonStartHour"]').value;
		      const commonStartMinute = document.querySelector('select[name="commonStartMinute"]').value;
		      const commonEndHour = document.querySelector('select[name="commonEndHour"]').value;
		      const commonEndMinute = document.querySelector('select[name="commonEndMinute"]').value;
		      const commonLunchStartHour = document.querySelector('select[name="commonLunchStartHour"]').value;
		      const commonLunchStartMinute = document.querySelector('select[name="commonLunchStartMinute"]').value;
		      const commonLunchEndHour = document.querySelector('select[name="commonLunchEndHour"]').value;
		      const commonLunchEndMinute = document.querySelector('select[name="commonLunchEndMinute"]').value;
		      const commonNoLunch = document.querySelector('input[name="commonLunch"]').checked;
		
		      document.querySelector(`select[name="startHour_${day}"]`).value = commonStartHour;
		      document.querySelector(`select[name="startMinute_${day}"]`).value = commonStartMinute;
		      document.querySelector(`select[name="endHour_${day}"]`).value = commonEndHour;
		      document.querySelector(`select[name="endMinute_${day}"]`).value = commonEndMinute;
		      document.querySelector(`select[name="lunchStartHour_${day}"]`).value = commonLunchStartHour;
		      document.querySelector(`select[name="lunchStartMinute_${day}"]`).value = commonLunchStartMinute;
		      document.querySelector(`select[name="lunchEndHour_${day}"]`).value = commonLunchEndHour;
		      document.querySelector(`select[name="lunchEndMinute_${day}"]`).value = commonLunchEndMinute;
		      document.querySelector(`input[name="lunch_${day}"]`).checked = commonNoLunch;
		      
		      // 요일 체크박스 자동 체크
		      document.querySelector(`input[name="week"][value="${day}"]`).checked = true;
		      toggleTimeSelectors(day);
		    }
		}
        
		function toggleTimeSelectors(day) {
		    const isChecked = document.querySelector(`input[name="week"][value="${day}"]`).checked;
		    const selects = document.querySelectorAll(`select[name*="_${day}"], input[name*="_${day}"]`);
		    
		    selects.forEach(select => {
		        select.disabled = !isChecked;
		    });
		    if(!isChecked){
		    	document.querySelector(`input[name="lunch_${day}"][value="no"]`).checked =false;
		    }
		}
		
		
		//영업시작시간 누르면 마감시간은 그 이후만 선택가능 
	  	function updateEndTimeOptions(day) {
	        const startHourSelect = document.querySelector(`select[name="startHour_${day}"]`);
	        const startMinuteSelect = document.querySelector(`select[name="startMinute_${day}"]`);
	        const endHourSelect = document.querySelector(`select[name="endHour_${day}"]`);
	        const endMinuteSelect = document.querySelector(`select[name="endMinute_${day}"]`);
	        
	        const startHour = parseInt(startHourSelect.value);
	        const startMinute = parseInt(startMinuteSelect.value);

	        // Clear end time options
	        endHourSelect.innerHTML = '';
	        

	        for (let hour = startHour; hour <= 24; hour++) {
	            const hourOption = document.createElement('option');
	            hourOption.value = hour;
	            hourOption.textContent = hour < 10 ? '0' + hour : hour;
	            endHourSelect.appendChild(hourOption);
	       }
	  	}
	  	//점심시간 선택하면 마감시간은 그이후만 선택가능
	  	function updateLunchEndTimeOptions(day) {
	  	    const lunchStartHourSelect = document.querySelector(`select[name="lunchStartHour_${day}"]`);
	  	    const lunchStartMinuteSelect = document.querySelector(`select[name="lunchStartMinute_${day}"]`);
	  	    const lunchEndHourSelect = document.querySelector(`select[name="lunchEndHour_${day}"]`);
	  	    const lunchEndMinuteSelect = document.querySelector(`select[name="lunchEndMinute_${day}"]`);

	  	    const lunchStartHour = parseInt(lunchStartHourSelect.value);
	  	    const lunchStartMinute = parseInt(lunchStartMinuteSelect.value);

	  	    lunchEndHourSelect.innerHTML = '';
	  	    

	  	    for (let hour = lunchStartHour; hour <=24; hour++) {
	  	        const hourOption = document.createElement('option');
	  	        hourOption.value = hour;
	  	        hourOption.textContent = hour < 10 ? '0' + hour : hour;
	  	        lunchEndHourSelect.appendChild(hourOption);
	  	    }

	  	   
	  	}
	  	
	  	//공통 영업시작시간 선택시 마감시간 범위지정
	  	function updateCommonEndTimeOptions() {
	  	    const commonStartHourSelect = document.querySelector('select[name="commonStartHour"]');
	  	    const commonStartMinuteSelect = document.querySelector('select[name="commonStartMinute"]');
	  	    const commonEndHourSelect = document.querySelector('select[name="commonEndHour"]');
	  	    const commonEndMinuteSelect = document.querySelector('select[name="commonEndMinute"]');

	  	    const commonStartHour = parseInt(commonStartHourSelect.value);
	  	    const commonStartMinute = parseInt(commonStartMinuteSelect.value);

	  	    commonEndHourSelect.innerHTML = '';
	  	    

	  	    for (let hour = commonStartHour; hour <= 24; hour++) {
	  	        const hourOption = document.createElement('option');
	  	        hourOption.value = hour;
	  	        hourOption.textContent = hour < 10 ? '0' + hour : hour;
	  	        commonEndHourSelect.appendChild(hourOption);
	  	    }

	  	   
	  	}
	  	
	  	//공통 점심시간 시작 선택시 끝시간 범위 지정
	  	function updateCommonLunchEndTimeOptions() {
	  	    const commonLunchStartHourSelect = document.querySelector('select[name="commonLunchStartHour"]');
	  	    const commonLunchStartMinuteSelect = document.querySelector('select[name="commonLunchStartMinute"]');
	  	    const commonLunchEndHourSelect = document.querySelector('select[name="commonLunchEndHour"]');
	  	    const commonLunchEndMinuteSelect = document.querySelector('select[name="commonLunchEndMinute"]');

	  	    const commonLunchStartHour = parseInt(commonLunchStartHourSelect.value);
	  	    const commonLunchStartMinute = parseInt(commonLunchStartMinuteSelect.value);

	  	    commonLunchEndHourSelect.innerHTML = '';
	  	    

	  	    for (let hour = commonLunchStartHour; hour <= 24; hour++) {
	  	        const hourOption = document.createElement('option');
	  	        hourOption.value = hour;
	  	        hourOption.textContent = hour < 10 ? '0' + hour : hour;
	  	        commonLunchEndHourSelect.appendChild(hourOption);
	  	    }

	  	   
	  	}
	  	
	  	//점심시간없음 체크시 셀렉트 사용금지
	  	function toggleLunchTimeSelectors(day) {
	  		if(day =="com"){
	  			
		  		
		  	    const isChecked = document.querySelector(`input[name="commonLunch"][value="no"]`).checked;
		  	    const lunchStartHourSelect = document.querySelector(`select[name="commonLunchStartHour"]`);
		  	    const lunchStartMinuteSelect = document.querySelector(`select[name="commonLunchStartMinute"]`);
		  	    const lunchEndHourSelect = document.querySelector(`select[name="commonLunchEndHour"]`);
		  	    const lunchEndMinuteSelect = document.querySelector(`select[name="commonLunchEndMinute"]`);

		  	    lunchStartHourSelect.disabled = isChecked;
		  	    lunchStartMinuteSelect.disabled = isChecked;
		  	    lunchEndHourSelect.disabled = isChecked;
		  	    lunchEndMinuteSelect.disabled = isChecked;
	  			
	  		}else{
	  			const weekIsChecked = document.querySelector(`input[name="week"][value="${day}"]`).checked;
		  		if(weekIsChecked){
		  	    const isChecked = document.querySelector(`input[name="lunch_${day}"][value="no"]`).checked;
		  	    const lunchStartHourSelect = document.querySelector(`select[name="lunchStartHour_${day}"]`);
		  	    const lunchStartMinuteSelect = document.querySelector(`select[name="lunchStartMinute_${day}"]`);
		  	    const lunchEndHourSelect = document.querySelector(`select[name="lunchEndHour_${day}"]`);
		  	    const lunchEndMinuteSelect = document.querySelector(`select[name="lunchEndMinute_${day}"]`);

		  	    lunchStartHourSelect.disabled = isChecked;
		  	    lunchStartMinuteSelect.disabled = isChecked;
		  	    lunchEndHourSelect.disabled = isChecked;
		  	    lunchEndMinuteSelect.disabled = isChecked;
		  		}
	  		}
	  		
	  		
	  	}
	</script>


</body>
</html>