<header class="border-bottom" th:fragment="header">
	<div class="d-flex bg-hospital-sub p-2 px-3">
		<div class="ms-auto d-flex">
		<a id="chat" href="/hospital/chatList" class="navbar-brand me-4" style="display:none;">💬 챗팅</a>
		<a id="login-link" class="navbar-brand" href="/login_form">로그인</a>
		 <a id="logout-link" class="navbar-brand" href="#" onclick="logout()" style="display: none;">로그아웃</a>
		<span class="mx-3"id ="bar"> | </span>
		<a id="register-link" class="navbar-brand" href="/register_form">회원가입</a>
		</div>
	</div>
	<div class="d-flex flex-wrap justify-content-center align-items-center py-3">
      <a href="/hospital" class="d-flex align-items-center mb-md-0 me-md-auto ps-md-3 link-body-emphasis text-decoration-none">
      <div class="logo_size">
        <img src="/images/logo_hospital.png" class="w-100" alt="로고">
        </div>
        
      </a>

      <ul class="nav nav-pills hospital-nav">
        <li class="nav-item"><a href="/hospital/my_info_edit" class="nav-link fs-5" aria-current="page">내 정보 수정 </a></li>
        <li class="nav-item"><a href="/hospital/my_qna_list" class="nav-link fs-5">문의내역</a></li>
        <li class="nav-item">
	        <div class="dropdown">
			  <a class="btn btn-none dropdown-toggle nav-link fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			   예약 관리
			  </a>
			
			  <ul class="dropdown-menu">
				<li><a class="dropdown-item" href="/hospital">전체 진료 일정</a></li>
			    <li><a class="dropdown-item" href="/hospital/reservList">예약 고객 리스트</a></li>
			    <li><a class="dropdown-item" href="/hospital/reserveDocSelect">진료 일정 관리</a></li>
			  </ul>
			</div>
		</li>
        <li class="nav-item"><a href="/hospital/notification" class="nav-link fs-5">알림설정</a></li>
        <li class="nav-item"><a href="/hospital/chatList" class="nav-link fs-5">문의채팅</a></li>
        <li class="nav-item"><a href="#" class="nav-link fs-5">광고계약</a></li>
        <li class="nav-item">
	        <div class="dropdown">
			  <a class="btn btn-none dropdown-toggle nav-link fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			   고객센터
			  </a>
			
			  <ul class="dropdown-menu">
			    <li><a class="dropdown-item" href="/noticeList">공지사항</a></li>
			    <li><a class="dropdown-item" href="/qnaForm">문의작성</a></li>
			  </ul>
			</div>
		</li>
      </ul>
	</div>
	<script src="https://www.gstatic.com/firebasejs/9.9.3/firebase-app-compat.js"></script>
	<script src="https://www.gstatic.com/firebasejs/9.9.3/firebase-messaging-compat.js"></script>
	<script src="/js/fcm.js"></script>
	<script src="/js/fcmsend.js"></script>
	<script>
            function logout() {
                localStorage.clear();
                window.location.href = "/";
            }
            
            document.addEventListener("DOMContentLoaded", function() {
                const memberId = localStorage.getItem('MemberId');
                const loginLink = document.getElementById('login-link');
                const registerLink = document.getElementById('register-link');
                const logoutLink = document.getElementById('logout-link');
                const bar = document.getElementById('bar');
                const chat = document.getElementById('chat');
                if (memberId) {
                    loginLink.style.display = 'none';
                    registerLink.style.display = 'none';
                    logoutLink.style.display = '';
                    bar.style.display = 'none';
                    chat.style.display = '';
                } else {
                    loginLink.style.display = '';
                    registerLink.style.display = '';
                    logoutLink.style.display = 'none';
                    bar.style.display = '';
                    chat.style.display = 'none';
                }
                
             	// 현재 URL 가져오기
        	    const currentPath = window.location.pathname;
        		console.log(currentPath);	
        	    // 모든 nav-link 요소 가져오기
        	    const navLinks = document.querySelectorAll('.nav-link');

        	    // 각 nav-link 요소에 대해 현재 URL과 비교하여 active 클래스 추가
        	    navLinks.forEach(function (link) {
        	        if (link.getAttribute('href') === currentPath) {
        	            link.classList.add('active-pet');
        	        }
        	    });

        	    // 드롭다운 메뉴 내부의 링크에 대해서도 같은 작업 수행
        	    const dropdownItems = document.querySelectorAll('.dropdown-item');
        	    dropdownItems.forEach(function (item) {
        	        if (item.getAttribute('href') === currentPath) {
        	            item.classList.add('active-pet');
        	            // 부모 드롭다운 링크에도 active 클래스 추가
        	            item.closest('.dropdown').querySelector('.dropdown-toggle').classList.add('active-pet');
        	        }
        	    });
        	    
        	    
            	if (currentPath.includes('/hospital/reservDetail')) {
        	        const parentMenuLink = document.querySelector('a[href="/hospital/reservList"]');
        	        dropdownItems.forEach(function (item) {
            	        if (item.getAttribute('href') === parentMenuLink.getAttribute('href')) {
            	            item.classList.add('active-pet');
            	            // 부모 드롭다운 링크에도 active 클래스 추가
            	            item.closest('.dropdown').querySelector('.dropdown-toggle').classList.add('active-pet');
            	        }
            	    });
        	    }
            	
            	if (currentPath.includes('/hospital/reserveCalender')) {
        	        const parentMenuLink = document.querySelector('a[href="/hospital/reserveDocSelect"]');
        	        dropdownItems.forEach(function (item) {
            	        if (item.getAttribute('href') === parentMenuLink.getAttribute('href')) {
            	            item.classList.add('active-pet');
            	            // 부모 드롭다운 링크에도 active 클래스 추가
            	            item.closest('.dropdown').querySelector('.dropdown-toggle').classList.add('active-pet');
            	        }
            	    });
        	    }
            	
            	if (currentPath.includes('/hospital/reserveSchedule')) {
        	        const parentMenuLink = document.querySelector('a[href="/hospital/reserveDocSelect"]');
        	        dropdownItems.forEach(function (item) {
            	        if (item.getAttribute('href') === parentMenuLink.getAttribute('href')) {
            	            item.classList.add('active-pet');
            	            // 부모 드롭다운 링크에도 active 클래스 추가
            	            item.closest('.dropdown').querySelector('.dropdown-toggle').classList.add('active-pet');
            	        }
            	    });
        	    }
                
            });
            
            function responseCheck(response){
        		 const msg =response.getResponseHeader("msg");
        		 if(msg && msg=="tokenExpired"){
        				alert("로그인 시간이 만료되었습니다.다시 로그인 해주세요.");
        				 localStorage.clear();
        				 window.location.href="/login_form";
        			}
        		 if(response.status ==401){
        			 alert("사용자 정보 인증에 실패하였습니다.로그인 해주세요.");
        			 window.location.href="/login_form";
        		 }else if(response.status ==403){
        			 alert("접근 가능한 페이지가 아닙니다.");
        			if(localStorage.getItem("role")=="ROLE_HOSPITAL"){
       				 window.location.href="/hospital";
       			 }else{
       	 			 window.location.href="/";
       				 }
        		 }else if(response.status ==400){
        			 alert("잘못된 접근입니다.")
        			if(localStorage.getItem("role")=="ROLE_HOSPITAL"){
       				 window.location.href="/hospital";
       			 }else{
        				 window.location.href="/";
       			 }
        		 }
          }
         	 function fetchResponseCheck(response){
        		 const msg =response.headers.get("msg");
        		 if(msg && msg=="tokenExpired"){
        				alert("로그인 시간이 만료되었습니다.다시 로그인 해주세요.");
        				 localStorage.clear();
        				 window.location.href="/login_form";
        			}
        		 if(response.status ==401){
        			 alert("사용자 정보 인증에 실패하였습니다.로그인 해주세요.");
        			 window.location.href="/login_form";
        		 }else if(response.status ==403){
        			 alert("접근 가능한 페이지가 아닙니다.");
        			 if(localStorage.getItem("role")=="ROLE_HOSPITAL"){
        				 window.location.href="/hospital";
        			 }else{
       	 			 window.location.href="/";
       			 }
        		 }else if(response.status ==400){
        			 alert("잘못된 접근입니다.")
        			if(localStorage.getItem("role")=="ROLE_HOSPITAL"){
       				 window.location.href="/hospital";
       			 }else{
       	 			 window.location.href="/";
       			 }
        		 }
          }
        </script>
</header>
