<header class="border-bottom" th:fragment="header">
	<div class="d-flex bg-hospital-sub p-2 px-3">
		<div class="ms-auto">
		<a id="login-link" class="navbar-brand" href="/login_form">로그인</a>
		 <a id="logout-link" class="navbar-brand" href="#" onclick="logout()" style="display: none;">로그아웃</a>
		<span class="mx-3"id ="bar"> | </span>
		<a id="register-link" class="navbar-brand" href="/register_form">회원가입</a>
		</div>
	</div>
	<div class="d-flex flex-wrap justify-content-center align-items-center py-3">
      <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto ps-md-3 link-body-emphasis text-decoration-none">
      <div class="logo_size">
        <img src="/images/logo_hospital.png" class="w-100" alt="로고">
        </div>
        
      </a>

      <ul class="nav nav-pills user-nav">
        <li class="nav-item"><a href="/hospital/my_info_edit" class="nav-link fs-5" aria-current="page">내 정보 수정 </a></li>
        <li class="nav-item"><a href="/hospital/my_qna_list" class="nav-link fs-5">문의내역</a></li>
        <li class="nav-item"><a href="/hospital/reservList" class="nav-link fs-5">예약관리</a></li>
        <li class="nav-item"><a href="#" class="nav-link fs-5">알림설정</a></li>
        <li class="nav-item"><a href="/hospital/chatList" class="nav-link fs-5">문의채팅</a></li>
        <li class="nav-item"><a href="#" class="nav-link fs-5">광고계약</a></li>
        <li class="nav-item"><a href="/hospital/my_qna_list" class="nav-link fs-5">고객센터</a></li>
      </ul>
	</div>
	<script>
            function logout() {
                localStorage.clear();
                window.location.href = "/";
            }
            
            document.addEventListener("DOMContentLoaded", function() {
                const memberId = localStorage.getItem('MemberId');
                const loginLink = document.getElementById('login-link');
                const registerLink = document.getElementById('register-link');
                const logoutLink = document.getElementById('logout-link');
                const bar = document.getElementById('bar');
                if (memberId) {
                    loginLink.style.display = 'none';
                    registerLink.style.display = 'none';
                    logoutLink.style.display = '';
                    bar.style.display = 'none';
                } else {
                    loginLink.style.display = '';
                    registerLink.style.display = '';
                    logoutLink.style.display = 'none';
                    bar.style.display = '';
                }
            });
        </script>
</header>
