<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>견강할고양</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="/css/reserv_schedule.css">
</head>
<body class="d-flex flex-column h-100">
<div th:replace="~{hospital/header :: header}"></div>
<div class="container-xl">
	<h1 class="mt-3 mt-md-5 mb-3 mb-md-3">진료 일정 관리</h1>
	<hr/>
	<input type="text" id="doctorId" th:value="${doctorId}">
	<input type="text" id="selectedDate" th:value="${date}">
	<h4 class="fw-bold mb-3">[[${doctorName}]] 수의사 진료일정([[${date}]])</h4>
	<div class="border p-4 rounded">
		<div class="container container-600">
			<input type="checkbox" class="btn-check" id="btn-check-1" data-time="00:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-1">00:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-2" data-time="00:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-2">00:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-3" data-time="01:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-3">01:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-4" data-time="01:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-4">01:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-5" data-time="02:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-5">02:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-6" data-time="02:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-6">02:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-7" data-time="03:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-7">03:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-8" data-time="03:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-8">03:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-9" data-time="04:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-9">04:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-10" data-time="04:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-10">04:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-11" data-time="05:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-11">05:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-12" data-time="05:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-12">05:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-13" data-time="06:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-13">06:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-14" data-time="06:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-14">06:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-15" data-time="07:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-15">07:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-16" data-time="07:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-16">07:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-17" data-time="08:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-17">08:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-18" data-time="08:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-18">08:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-19" data-time="09:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-19">09:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-20"  data-time="09:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-20">09:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-21" data-time="10:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-21">10:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-22" data-time="10:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-22">10:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-23" data-time="11:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-23">11:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-24" data-time="11:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-24">11:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-25" data-time="12:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-25">12:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-26" data-time="12:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-26">12:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-27" data-time="13:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-27">13:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-28" data-time="13:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-28">13:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-29" data-time="14:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-29">14:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-30" data-time="14:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-30">14:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-31" data-time="15:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-31">15:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-32" data-time="15:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-32">15:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-33" data-time="16:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-33">16:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-34" data-time="16:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-34">16:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-35" data-time="17:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-35">17:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-36" data-time="17:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-36">17:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-37" data-time="18:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-37">18:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-38" data-time="18:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-38">18:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-39" data-time="19:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-39">19:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-40" data-time="19:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-40">19:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-41" data-time="20:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-41">20:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-42" data-time="20:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-42">20:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-43" data-time="21:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-43">21:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-44" data-time="21:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-44">21:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-45" data-time="22:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-45">22:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-46" data-time="22:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-46">22:30</label>
			<input type="checkbox" class="btn-check" id="btn-check-47" data-time="23:00" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-47">23:00</label>
			<input type="checkbox" class="btn-check" id="btn-check-48" data-time="23:30" autocomplete="off" checked="false">
			<label class="btn btn-light mb-2 mx-1" for="btn-check-48">23:30</label>
		</div>
	</div>
	<div class="clear-fix mt-3">
		<button class="btn btn-hospital-sub float-end" data-bs-toggle="modal" data-bs-target="#unavailableTimeComment">저장하기</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="unavailableTimeComment" tabindex="-1" aria-labelledby="unavailableTimeCommentModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h2 class="modal-title fs-5" id="unavailableTimeCommentModalLabel">진료 불가 사유</h2>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <textarea id="unavailableTimeCommentInput" class="form-control"></textarea>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	        <button type="button" class="btn btn-hospital-sub" onclick="saveUnavailableTime()">저장</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<div th:replace="~{hospital/footer :: footer}"></div>
<script type="text/javascript">
const selectedDate = document.querySelector("#selectedDate").value;
const doctorId = document.querySelector("#doctorId").value;
const memberId = localStorage.getItem("MemberId");
const token = localStorage.getItem("token");

let reservationTime = [];
let unavailableTime = [];

document.addEventListener('DOMContentLoaded', function () {
    
    
    fetch("http://localhost:9001/api/v1/hospital/doctor/unavailable-time/" + doctorId, {
    	method : "GET",
    	//headers: {
    	   // "Authorization": "application/json",
    	   // "username": "application/json",
    	  //},
    })
    .then(response =>  response.json())
    .then(data => {
    	let list = JSON.stringify(data);
    	//console.log("예약 불가능한 시간!!" + list);
		let unavailableTimes = JSON.parse(list);
		unavailableTimes.forEach(unavTime =>{
			if(unavTime.date.startsWith(selectedDate)){
				console.log("예약 불가능한 시간!!" + unavTime.time);
				unavailableTime.push(unavTime.time.slice(0, 5));
			}else{
				console.log("이 날짜에는 불가능한 시간이 없네용");
			}
			
		} );
    })
    .catch(error => console.log(error));

    
    
fetch("http://localhost:9001/api/v1/hospital/reservation/doctor/" + doctorId, {
		method : "GET",
		//headers: {
		   // "Authorization": "application/json",
		   // "username": "application/json",
		  //},
	})
	.then(response =>  response.json())
	.then(data => {
		console.log(data);
		let list = JSON.stringify(data);
		let reservationList = JSON.parse(list);
		reservationList.forEach(reserve =>{
			console.log(reserve.reservationDatetime);
			if(reserve.reservationDatetime.startsWith(selectedDate)){
				let time1 = reserve.reservationDatetime.split("T")[1];
				reservationTime.push(time1.slice(0, 5));
				console.log(reservationTime);
			}
			
			fetch("http://localhost:9001/api/v1/hospital/business-hours", {
			    method: "GET",
			})
			.then(response => response.json())
			.then(data => {
			    //console.log(data);
			    const businessHoursData = data;
			    const dayOfWeek = new Date(selectedDate).getDay(); 
			    //console.log(dayOfWeek);
			    let dayOfWeekStr = "";
			    if(dayOfWeek == 0){
			    	dayOfWeekStr = "sun";
			    }else if(dayOfWeek == 1){
			    	dayOfWeekStr = "mon";
			    }else if(dayOfWeek == 2){
			    	dayOfWeekStr = "tue";
			    }else if(dayOfWeek == 3){
			    	dayOfWeekStr = "wed";
			    }else if(dayOfWeek == 4){
			    	dayOfWeekStr = "thu";
			    }else if(dayOfWeek == 5){
			    	dayOfWeekStr = "fri";
			    }else if(dayOfWeek == 6){
			    	dayOfWeekStr = "sat";
			    }
			    const dayMap = {
			        "sun": 0,
			        "mon": 1,
			        "tue": 2,
			        "wed": 3,
			        "thu": 4,
			        "fri": 5,
			        "sat": 6
			    };
			 	console.log(businessHoursData[dayOfWeekStr]);
			 	let newBusinessHoursData = businessHoursData[dayOfWeekStr];
			 	
			 	//예제로 몇 가지 상수 설정
			 	
			 	 const openingHours = newBusinessHoursData[0].split(" : ")[1].trim(); // "영업시간 : 09:00//18:00"
			 	 const lunchHours = newBusinessHoursData[1].split(" : ")[1].trim();   // "점심시간 : 12:00//13:00"
			 	
			 	let lunchStart, lunchEnd;

			 	
			 	 if(lunchHours.startsWith("점심시간 없음")){
			 		console.log("점심시간 없음!");
			 	}else{
			 		console.log("점심시간 있음!");
			 		lunchStart = timeToMinutes(lunchHours.split("//")[0].trim());
			 		
			 	 	lunchEnd = timeToMinutes(lunchHours.split("//")[1].trim());
			 	}
			 	 const start = timeToMinutes(openingHours.split("//")[0].trim());
			 	 const end = timeToMinutes(openingHours.split("//")[1].trim());
			 	
			 	


			     // 저장하기 버튼 클릭 시 실행될 함수
			     function saveSchedule() {
			         const doctorId = document.getElementById('doctorId').value;
			         const selectedTimes = [];

			         // 체크된 시간대 확인
			         const checkboxes = document.querySelectorAll('.btn-check');
			         checkboxes.forEach(checkbox => {
			             if (checkbox.checked) {
			                 const time = checkbox.dataset.time; // 체크박스에 설정된 시간 추출
			                 selectedTimes.push(time);
			             }
			         });

			         // 선택된 시간대를 서버로 전송할 수 있도록 처리
			         console.log('Doctor ID:', doctorId);
			         console.log('Selected Times:', selectedTimes);
			         // 여기서 서버로 데이터 전송 등의 추가적인 로직을 구현할 수 있습니다.
			     }

			     // 시간 계산 함수: hh:mm 형식의 시간을 분으로 변환
			     function timeToMinutes(time) {
			         if (!time || typeof time !== 'string') {
			             return -1; // 예외 처리: 시간이 유효하지 않은 경우
			         }

			         const parts = time.split(":");
			         if (parts.length !== 2) {
			             return -1; // 예외 처리: 올바른 형식의 시간이 아닌 경우
			         }

			         const hours = parseInt(parts[0], 10);
			         const minutes = parseInt(parts[1], 10);

			         if (isNaN(hours) || isNaN(minutes)) {
			             return -1; // 예외 처리: 숫자 변환 오류
			         }

			         return hours * 60 + minutes;
			     }

			     // 시간 선택 가능 여부 확인 함수
			     function isTimeSelectable(time) {
			         const currentTime = timeToMinutes(time);
			         if (currentTime === -1) {
			             return false; // 시간 변환 오류
			         }

			         // 점심시간 동안은 선택 불가능
			         if(lunchHours.startsWith("점심시간 없음")){
			        	 console.log("점심시간 없지용");
			         }else{
			        	 if (currentTime >= lunchStart && currentTime < lunchEnd) {
			                 return false; // 점심 시간 동안
			             }
			         }
// 			         console.log("reservationTime : " + reservationTime);
// 			         if (reservationTime && time === reservationTime) {
// 			             return false;
// 			         }

			         // 선택 가능한 시간 간격 확인 (예제로 30분 간격)
			         const timeInterval = 30;
			         if ((currentTime - start) % timeInterval !== 0) {
			             return false; // 선택 가능한 시간 간격이 아님
			         }

			         // 영업 시작 전 또는 종료 시간 이후는 선택 불가능
			         if (currentTime < start || currentTime >= end) {
			             return false; // 시작 시간 이전이거나 종료 시간 이후
			         }

			         return true; // 모든 조건을 만족하면 선택 가능
			     }
			     
			     
			     
			     //예약된 시간 체크
			     function isTimeSelectableReservation(time) {
			         const currentTimeReservation = timeToMinutes(time);
		
			         //console.log("reservationTime : " + reservationTime);
			         if (reservationTime && time === reservationTime) {
			             return false;
			         }
			         return true; // 모든 조건을 만족하면 선택 가능
			     }
			     
			     
			     //이미 비활성화 한 시간 체크
			     //function isTimeSelectableUnavailable(time) {
			        // const currentTimeUnavailable = timeToMinutes(time);
		
			         //console.log("Unavailable : " + unavailableTime);
			        // if (unavailableTime && time === unavailableTime) {
			        //     return false;
			        // }
			        // return true; // 모든 조건을 만족하면 선택 가능
			   //  }
			     
			    
			     // 페이지 로드 시 시간대 선택 가능 여부 설정
			    
			         const checkboxes = document.querySelectorAll('.btn-check');
			         checkboxes.forEach(checkbox => {
			             const time = checkbox.dataset.time;
			             if (!isTimeSelectable(time)) {
			                 checkbox.style.display = "none"; // 체크박스 숨기기
			                 const labelId = checkbox.id.replace('btn-check-', ''); // label의 id 추출
			                 const label = document.querySelector(`label[for="btn-check-${labelId}"]`);
			                 if (label) {
			                     label.style.display = "none"; // label도 숨기기
			                 }
			             }
			             
			             for (let i = 0; i < reservationTime.length; i++) {
			            	    if (reservationTime[i] === time) {
			            	    	checkbox.disabled = true; // 예약된 시간의 체크박스 비활성화
					                 const labelId = checkbox.id.replace('btn-check-', '');
					                 const label = document.querySelector(`label[for="btn-check-${labelId}"]`);
					                 if (label) {
					                     label.style.color = 'gray'; // 예약된 시간의 라벨을 회색으로 변경
					                 }
			            	    }
			            	}
// 			             if (!isTimeSelectableReservation(time)) {
// 			            	 checkbox.disabled = true; // 예약된 시간의 체크박스 비활성화
// 			                 const labelId = checkbox.id.replace('btn-check-', '');
// 			                 const label = document.querySelector(`label[for="btn-check-${labelId}"]`);
// 			                 if (label) {
// 			                     label.style.color = 'gray'; // 예약된 시간의 라벨을 회색으로 변경
// 			                 }
// 			             }
			             
			             console.log("unavailableTime" + unavailableTime);
			             if(unavailableTime.length != 0){
			            	 for (let i = 0; i < unavailableTime.length; i++) {
				            	    if (unavailableTime[i] === time) {
				            	        checkbox.checked = true; // 이미 비활성화된 시간 체크하기
				            	        break; // 이미 체크했으면 더 이상 반복할 필요 없으므로 반복문을 종료합니다.
				            	    }else{
				            	    	 checkbox.checked = false;
				            	    }
				            	}
			             }else{
			            	 checkbox.checked = false;
			             }
			             
			          
			         });
			         
			         
			         
			         
			    
			 })
			 .catch(error => console.error('Error fetching business hours:', error));
			
		});
		
	})
	.catch(error => console.log(error));
	

});

function saveUnavailableTime(){
	const unavailableTimeComment = document.querySelector("#unavailableTimeCommentInput").value;
	const checkedTimes = [];
	const checkedElements = document.querySelectorAll(".btn-check:checked");

	checkedElements.forEach(element => {
	    const time = element.dataset.time;
	    checkedTimes.push(time);
	});

	console.log("unavailableTimeComment " + unavailableTimeComment);
	const timeData = {
			comment : unavailableTimeComment,
			date : selectedDate,
			time : checkedTimes,
			doctorId : doctorId,
			hospitalId : 3
	}
	// 객체를 json으로 변경하기
	const sendData = JSON.stringify(timeData);
	console.log(sendData);
	fetch("http://localhost:9001/api/v1/hospital/doctor/unavailable-time", {
		method : "POST",
		headers : {
			"Content-type" : "application/json"
		},
		body : sendData
	})
	.then(response =>  response.text())
	.then(data => {
		console.log(data);
		
	})
	.catch(error => console.log(error));

}
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>