<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>견강할고양</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="/js/index.global.min.js"></script>
<script>
    	document.addEventListener('DOMContentLoaded', function() {
        	var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                // Tool Bar 목록 document : https://fullcalendar.io/docs/toolbar
                headerToolbar: {
                    left: 'prevYear,prev,next,nextYear today',
                    center: 'title',
                    right: 'dayGridMonth,dayGridWeek,dayGridDay'
                },

                //selectable: true,
                //selectMirror: true,
                
                // 날짜 클릭 이벤트 설정
		        dateClick: function(info) {
		            var clickedDate = info.dateStr; // 클릭한 날짜
		            window.location.href = '/hospital/reserveSchedule?date=' + clickedDate; // 다른 페이지로 이동, URL에 날짜 포함
		        }

                //navLinks: true, // can click day/week names to navigate views
                //editable: true,
                //dayMaxEvents: true, // allow "more" link when too many events
                // 이벤트 객체 필드 document : https://fullcalendar.io/docs/event-object
//                 events: [
//                     {
//                     title: '2건',
//                     url: 'http://google.com/',
//                     start: '2024-07-10'
//                     },
// 					{
// 					title: '1건',
// 					url: 'http://google.com/',
// 					start: '2024-07-12'
// 					}
//                 ]
            });

            calendar.render();
        });

</script>
</head>
<body class="d-flex flex-column h-100">
<div th:replace="~{hospital/header :: header}"></div>
<div class="container-xl">
	<h1 class="mt-3 mt-md-5 mb-3 mb-md-3">진료 일정 관리</h1>
	<hr/>
	<h4 class="fw-bold mb-3"><span>홍길동</span> 수의사 진료일정</h4>
	<div>
		<div id="calendar" class="mb-5"></div>
	</div>
	
</div>
<div th:replace="~{hospital/footer :: footer}"></div>

<script type="text/javascript">
fetch("http://localhost:9001/api/v1/reservation/waiting", {
	method : "GET",
	//headers: {
	   // "Authorization": "application/json",
	   // "username": "application/json",
	  //},
})
.then(response =>  response.json())
.then(data => {
	console.log(data == "");
	if(data == ""){
		document.querySelector("#waiting-tab-pane .row").innerHTML = '<div class="col-12 mb-3"><div class="p-5 text-center text-secondary">예약 내역이 없습니다.</div></div>';
	}else{
		const objs = data;
		console.log(objs);
		objs.forEach(obj =>{
			let dateTime = obj.reservationDatetime.replace("T", " ");
			document.querySelector("#waiting-tab-pane .row").innerHTML += 
				'<div class="col-12 col-md-4 mb-3">'
				  	+ '<div class="p-3 p-md-4 border rounded">'
				  		+ '<div class="mb-2"><span class="fw-bold">[예약번호] ' + obj.id  + '</span></div>'
				  		+ '<div class="mb-2"><span class="fw-bold">진료유형 </span>' + obj.type + '</div>'
				  		+ '<div class="mb-2"><span class="fw-bold">예약자명 </span>' + obj.user.name + '</div>'
				  		+ '<div class="mb-2"><span class="fw-bold">예약날짜 </span>' + dateTime + '</div>'
				  		+ '<div class="d-flex">'
					  		+ '<a class="btn btn-sm btn-main w-100 me-1" href="/hospital/reservDetail?id=' + obj.id + '">상세보기</a>'
					  		+ '<button class="btn btn-sm btn-outline-main w-100 ms-1"><i class="bi bi-bell-fill"></i> 알림 보내기</button>'
				  		+ '</div></div></div>';
		});
	}
})
.catch(error => console.log(error));


fetch("http://localhost:9001/api/v1/reservation/confirmed", {
	method : "GET",
	//headers: {
	   // "Authorization": "application/json",
	   // "username": "application/json",
	  //},
})
.then(response =>  response.json())
.then(data => {
	console.log(data == "");
	if(data == ""){
		document.querySelector("#confirmed-tab-pane .row").innerHTML = '<div class="col-12 mb-3"><div class="p-5 text-center text-secondary">예약 내역이 없습니다.</div></div>';
	}else{
		const objs = data;
		console.log(objs);
		objs.forEach(obj =>{
			let dateTime = obj.reservationDatetime.replace("T", " ");
			document.querySelector("#confirmed-tab-pane .row").innerHTML += 
				'<div class="col-12 col-md-4 mb-3">'
				  	+ '<div class="p-3 p-md-4 border rounded">'
				  		+ '<div class="mb-2"><span class="fw-bold">[예약번호] ' + obj.id  + '</span></div>'
				  		+ '<div class="mb-2"><span class="fw-bold">진료유형 </span>' + obj.type + '</div>'
				  		+ '<div class="mb-2"><span class="fw-bold">예약자명 </span>' + obj.user.name + '</div>'
				  		+ '<div class="mb-2"><span class="fw-bold">예약날짜 </span>' + dateTime + '</div>'
				  		+ '<div class="d-flex">'
					  		+ '<a class="btn btn-sm btn-main w-100 me-1" href="/hospital/reservDetail?id=' + obj.id + '">상세보기</a>'
					  		+ '<button class="btn btn-sm btn-outline-main w-100 ms-1"><i class="bi bi-bell-fill"></i> 알림 보내기</button>'
				  		+ '</div></div></div>';
		});
	}
})
.catch(error => console.log(error));


fetch("http://localhost:9001/api/v1/reservation/complete", {
	method : "GET",
	//headers: {
	   // "Authorization": "application/json",
	   // "username": "application/json",
	  //},
})
.then(response =>  response.json())
.then(data => {
	console.log(data == "");
	if(data == ""){
		document.querySelector("#complete-tab-pane .row").innerHTML = '<div class="col-12 mb-3"><div class="p-5 text-center text-secondary">예약 내역이 없습니다.</div></div>';
	}else{
		const objs = data;
		console.log(objs);
		objs.forEach(obj =>{
			let dateTime = obj.reservationDatetime.replace("T", " ");
			document.querySelector("#complete-tab-pane .row").innerHTML += 
				'<div class="col-12 col-md-4 mb-3">'
				  	+ '<div class="p-3 p-md-4 border rounded">'
				  		+ '<div class="mb-2"><span class="fw-bold">[예약번호] ' + obj.id  + '</span></div>'
				  		+ '<div class="mb-2"><span class="fw-bold">진료유형 </span>' + obj.type + '</div>'
				  		+ '<div class="mb-2"><span class="fw-bold">예약자명 </span>' + obj.user.name + '</div>'
				  		+ '<div class="mb-2"><span class="fw-bold">예약날짜 </span>' + dateTime + '</div>'
				  		+ '<div class="d-flex">'
					  		+ '<a class="btn btn-sm btn-main w-100 me-1" href="/hospital/reservDetail?id=' + obj.id + '">상세보기</a>'
					  		+ '<button class="btn btn-sm btn-outline-main w-100 ms-1"><i class="bi bi-bell-fill"></i> 알림 보내기</button>'
				  		+ '</div></div></div>';
		});
	}
})
.catch(error => console.log(error));



fetch("http://localhost:9001/api/v1/reservation/cancle", {
	method : "GET",
	//headers: {
	   // "Authorization": "application/json",
	   // "username": "application/json",
	  //},
})
.then(response =>  response.json())
.then(data => {
	console.log(data == "");
	if(data == ""){
		document.querySelector("#cancle-tab-pane .row").innerHTML = '<div class="col-12 mb-3"><div class="p-5 text-center text-secondary">예약 내역이 없습니다.</div></div>';
	}else{
		const objs = data;
		console.log(objs);
		objs.forEach(obj =>{
			let dateTime = obj.reservationDatetime.replace("T", " ");
			document.querySelector("#cancle-tab-pane .row").innerHTML += 
				'<div class="col-12 col-md-4 mb-3">'
				  	+ '<div class="p-3 p-md-4 border rounded">'
				  		+ '<div class="mb-2"><span class="fw-bold">[예약번호] ' + obj.id  + '</span></div>'
				  		+ '<div class="mb-2"><span class="fw-bold">진료유형 </span>' + obj.type + '</div>'
				  		+ '<div class="mb-2"><span class="fw-bold">예약자명 </span>' + obj.user.name + '</div>'
				  		+ '<div class="mb-2"><span class="fw-bold">예약날짜 </span>' + dateTime + '</div>'
				  		+ '<div class="d-flex">'
					  		+ '<a class="btn btn-sm btn-main w-100 me-1" href="/hospital/reservDetail?id=' + obj.id + '">상세보기</a>'
					  		+ '<button class="btn btn-sm btn-outline-main w-100 ms-1"><i class="bi bi-bell-fill"></i> 알림 보내기</button>'
				  		+ '</div></div></div>';
		});
	}
})
.catch(error => console.log(error));


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>