<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>견강할고양 관리자센터</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="/css/manager_style.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="/js/manager.js"></script>
</head>
<body class="d-flex flex-nowrap h-100">
<div th:replace="~{manager/sidemenu :: sidemenu}"></div>
<div class="w-100 p-5 h-100 overflow-auto">
	<h2>고객센터 - 문의게시판</h2>
	<hr class="w-100"/>
	<div class="d-flex">
		<select id="categorySelector" class="search_box form-select mb-3">
		  <option value="all" selected>전체</option>
		  <option value="기타문의">기타문의</option>
		  <option value="불편신고">불편신고</option>
		</select>
		<div class="ms-auto search_box input-group mb-3">
		  <input type="text" class="form-control" placeholder="제목으로 검색" aria-label="제목으로 검색" aria-describedby="searchBtn" id="keywordInput">
		  <button class="btn btn-outline-secondary" type="button" id="searchBtn">검색</button>
		</div>
	</div>
	<div>
		<table class="table table-hover manager-table align-middle">
			<thead>
				<tr>
					<td>#</td>
					<td>카테고리</td>
					<td>제목</td>
					<td>작성자</td>
					<td>상세보기</td>
					<td>응답</td>
				</tr>
			</thead>
			<tbody id="tbody">
				
			</tbody>
		</table>
		<nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" id="pagination">
            <li class="page-item" id="prev-btn"><a class="page-link" href="#">이전</a></li>
            
            <li class="page-item" id="next-btn"><a class="page-link" href="#">다음</a></li>
        </ul>
    </nav>
	</div>
</div>


<script>
$(document).ready(function() {
    const token = localStorage.getItem("token");
    let currentPage = 0;
    let size = 10; // 페이지 당 항목 수
    let totalPages = 0;
    let currentCategory = 'all';
    let currentKeyword = '';

    function fetchData(page, category = 'all', keyword = '') {
        let url = `http://localhost:9001/api/v1/manager/support/qna?page=${page}&size=${size}`;
        
        if (category !== 'all') {
            url = `http://localhost:9001/api/v1/manager/support/qna/category/${category}?page=${page}&size=${size}`;
        }
        if (keyword !== '') {
            url = `http://localhost:9001/api/v1/manager/support/qna/category/${category}/keyword/${keyword}?page=${page}&size=${size}`;
        }
        
        fetch(url, {
            method: "GET",
            headers: {
                'Authorization': `${token}`
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.content.length == 0);
            $('#tbody').empty();
            if(data.content.length == 0){
            	let innerHtml = 
                    '<tr>' +
                        '<td colspan="7">데이터가 없습니다.</td>' +
                    '</tr>';
                $('#tbody').append(innerHtml);
                currentPage = page;
                totalPages = data.totalPages;
                updatePagination();
            }else{
            	let cnt = page * size + 1;
                data.content.forEach(obj => {
                    let btnarea = obj.reply == null 
                        ? '<button class="btn btn-outline-danger" onclick="addReply(event, ' + obj.id + ')">답변 대기</button>' 
                        : '<button class="btn btn-outline-primary" onclick="reply(event, ' + obj.id + ')">답변 완료</button>';
                        
                    let memberName = obj.member.name == null ? obj.member.hospitalName : obj.member.name;
                    let innerHtml = 
                        '<tr>' +
                            '<td>' + cnt + '</td>' +
                            '<td>' + obj.category + '</td>' +
                            '<td>' + obj.title + '</td>' +
                            '<td>' + memberName + '</td>' +
                            '<td><a class="btn btn-primary" href="/qnaDetail?id=' + obj.id + '">상세보기</a></td>' +
                            '<td>' + btnarea + '</td>' +
                        '</tr>';
                    cnt++;
                    $('#tbody').append(innerHtml);
                });
                currentPage = page;
                totalPages = data.totalPages;
                updatePagination();
            }
            
        })
        .catch(error => console.log(error));
    }

    function updatePagination() {
        var pagination = $('#pagination');
        pagination.find('.page-item:not(#prev-btn, #next-btn)').remove();

        var startPage = Math.max(0, currentPage - 2);
        var endPage = Math.min(totalPages - 1, startPage + 4);

        if (endPage - startPage < 4) {
            startPage = Math.max(0, endPage - 4);
        }

        for (var i = startPage; i <= endPage; i++) {
            var pageItem = $('<li class="page-item"><a class="page-link" href="#" data-page="' + i + '">' + (i + 1) + '</a></li>');
            pagination.find('#next-btn').before(pageItem);
        }

        $('#prev-btn').toggle(currentPage > 0);
        $('#next-btn').toggle(currentPage < totalPages - 1);
        pagination.find('.page-link[data-page="' + currentPage + '"]').parent().addClass('active');
    }

    $(document).on('click', '.page-link', function(event) {
        event.preventDefault();
        var page = $(this).data('page');
        if (page !== undefined && page !== currentPage) {
            fetchData(page, currentCategory, currentKeyword);
        }
    });

    $('#prev-btn').click(function() {
        if (currentPage > 0) {
            fetchData(currentPage - 1, currentCategory, currentKeyword);
        }
    });

    $('#next-btn').click(function() {
        if (currentPage < totalPages - 1) {
            fetchData(currentPage + 1, currentCategory, currentKeyword);
        }
    });

    $('#categorySelector').change(function() {
        currentCategory = $(this).val();
        currentKeyword = ''; // 카테고리 변경 시 키워드 초기화
        $('#keywordInput').val('');
        fetchData(0, currentCategory);
    });

    $('#searchBtn').click(function() {
        currentKeyword = $('#keywordInput').val();
        fetchData(0, currentCategory, currentKeyword);
    });

    // 초기 데이터 로드
    fetchData(currentPage);
});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>