@charset "UTF-8";


.info-window-content {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 100px;
    transition: font-weight 0.3s ease;
}

.info-window-content .clickable-text {
	font-family: "Jua", sans-serif;
    cursor: pointer;
    transition: font-weight 0.3s ease;
    width:100%;
    text-align:center;
    padding:10px;
}

.info-window-content .clickable-text:hover {
    color: #4C5CB3;
}

.vet {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    font-family: "Jua", sans-serif;
}

.vet-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vet-header .pin {
    margin-left: 5px;
}

.vet-header .bookmark {
    margin-left: auto;
}

.vet-body {
    margin-top: 5px;
}

.vet:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#mainGif {
    width: 100%;
    height: 100%;
    display:block;
    position: absolute;
    /* opacity 1로 고치기 */
    opacity:0;
    transition: opacity 1s ease-in-out;
    z-index:9999;
}

#map {
   border: 1px solid #ccc;
   border-radius: 10px;
   position: relative;
}
.mapContainer{
	position:relative;
	margin-top: 0px;
}
.vet_list {
    position: absolute;
    top: 100px;
    right: -100px;
    width: 450px;
    height:530px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.inner{
	overflow:auto;
	height:500px;
}

.map-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom:10px;
}
.point-partner {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 오른쪽 끝에 배치 */
    margin-bottom: 0px;
}

.partner-icon {
    width: 30px; /* 이미지 크기 조정 */
    height: auto;
}

.partner-text {
    font-size: 20px; /* 폰트 크기 조정 */
    margin-left: 5px;
    font-family: "Jua", sans-serif;
}

#curBtn{
	width:40px;
	height:40px;
	position: absolute;
    top: 50px;
    right: 10px;
    animation: spinY 2s linear infinite; /* 애니메이션 추가 */
    z-index:99;
}

/* 애니메이션 정의 */
@keyframes spinY {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}


.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    color: #333;
}

.modal-sub-title{
	font-family: "Jua", sans-serif;
	margin-right:5px;
}

.modal-item{
	 border-bottom: 1px solid #ddd;
	 padding:10px;
	 margin-bottom:10px;
}

.carousel .carousel-item img {
    border-radius: 10px;
}

.carousel-indicators [data-bs-target] {
    background-color: #cb91ff;
}