@charset "UTF-8";


.info-window-content {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 100px;
    transition: font-weight 0.3s ease;
}

.info-window-content .clickable-text {
	font-family: "Jua", sans-serif;
    cursor: pointer;
    transition: font-weight 0.3s ease;
    width:100%;
    text-align:center;
    padding:10px;
}

.info-window-content .clickable-text:hover {
    color: #4C5CB3;
}

.vet {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    font-family: "Jua", sans-serif;
}

.vet-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vet-header .pin {
    margin-left: 5px;
}

.vet-header .bookmark {
    margin-left: auto;
}

.vet-body {
    margin-top: 5px;
}

.vet:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#mainGif {
    width: 100%;
    height: 100%;
    display:block;
    position: absolute;
    /* opacity 1로 고치기 */
    opacity:0;
    transition: opacity 1s ease-in-out;
    z-index:9999;
}

#map {
   border: 1px solid #ccc;
   border-radius: 10px;
   position: relative;
}
.mapContainer{
	position:relative;
	margin-top: 0px;
}
.vet_list {
    position: absolute;
    top: 100px;
    right: -100px;
    width: 450px;
    height: 530px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.vet_list .dropdown {
    align-self: flex-end; /* 오른쪽 끝으로 정렬 */
    margin-bottom:10px;
}

.inner {
    overflow: auto;
    height: 500px;
    flex-grow: 1; /* 남은 공간 채우기 */
}

.map-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom:10px;
}
.point-partner {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 오른쪽 끝에 배치 */
    margin-bottom: 0px;
}

.partner-icon {
    width: 30px; /* 이미지 크기 조정 */
    height: auto;
}

.partner-text {
    font-size: 20px; /* 폰트 크기 조정 */
    margin-left: 5px;
    font-family: "Jua", sans-serif;
}

#curBtn{
	width:40px;
	height:40px;
	position: absolute;
    top: 50px;
    right: 10px;
    animation: spinY 2s linear infinite; /* 애니메이션 추가 */
    z-index:99;
}

#searchAreaBtn{
	background-color: #4C5CB3;
	position: absolute;
	z-index:99;
	border:1px solid #4C5CB3;
	color:white;
	border-radius:50px;
	top:60px;
	right:600px;
	font-family: "Jua", sans-serif;
	padding:8px;
}

#searchAreaBtn:hover{
	background-color: #E3C3FF;
	position: absolute;
	z-index:99;
	color:black;
	border:1px solid #E3C3FF;
	border-radius:50px;
	top:60px;
	right:600px;
	font-family: "Jua", sans-serif;
	padding:8px;
}
/* 애니메이션 정의 */
@keyframes spinY {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.img_container{
	width:100%;
	height: 200px;
	text-align:center;
}

#logo{
	width:auto;	
	height:100%;
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    color: #333;
}

.modal-sub-title{
	font-family: "Jua", sans-serif;
	margin-right:20px;
}


.modal-item{
	 border-bottom: 1px solid #ddd;
	 padding:10px;
	 margin-bottom:10px;
}


.carousel .carousel-item img {
    border-radius: 10px;
}

.carousel-indicators [data-bs-target] {
    background-color: #cb91ff;
}

.error_msg{
	font-family: "Jua", sans-serif;

}

.reviewContainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

#review_overview{
	margin-bottom: 10px;
	width:220px;
}

#avgReview {
  font-size: 24px;
  font-weight: bold;
}

#reviewStars {
  display: inline-block;
  margin-left: 10px;
}

#reviewStars span {
  font-size: 20px;
  color: #f39c12;
}

#reviewCount {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

#reviewDistribution {
  margin-top: 30px;
}

.review-bar {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.review-bar span {
  display: inline-block;
  width: 40px;
  font-size: 14px;
}

.review-bar div {
  height: 10px;
  background-color: #cb91ff;
  border-radius: 10px;
  margin-left: 10px;
  transition: width 0.3s;
}

.review-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin:0 5 5 5px;
}

.review-item span {
  display: block;
  margin-top: 5px;
  padding:5px;
}

.review-item div, #reviewCount {
  display: inline-block;
  font-family: "Jua", sans-serif;
}

#toggleReviews {
  display: block;
  margin-top: 10px;
  color: #4C5CB3; 
  text-decoration: underline; 
  cursor: pointer;
  text-align: center; 
  font-family: "Jua", sans-serif;
}

#toggleReviews:hover {
  color: #003162; 
}

#reviewList {
  display: none;
  width: 400px;
  flex-shrink: 0;
  margin-left:20px;
  max-height: 250px; 
  overflow-y: auto;
}

.review-list {
  flex-grow: 1;
  overflow-y: auto;
  margin-left: 20px; 
}

#review {
  width: 100%;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-memVetInfo {
  display: flex;
  flex-direction: column;
}

/* 스크롤바 전체 */
#reviewList::-webkit-scrollbar {
  width: 12px; /* 너비 조절 */
}

/* 스크롤바 트랙 */
#reviewList::-webkit-scrollbar-track {
  background: #f1f1f1; /* 트랙 배경색 */
  border-radius: 10px; /* 둥근 모서리 */
}

/* 스크롤바 핸들 */
#reviewList::-webkit-scrollbar-thumb {
  background: #888; /* 핸들 색상 */
  border-radius: 10px; /* 둥근 모서리 */
  border: 3px solid #f1f1f1; /* 핸들 주변 테두리 */
}

/* 스크롤바 핸들:hover */
#reviewList::-webkit-scrollbar-thumb:hover {
  background: #555; /* 핸들 호버 색상 */
}

/* 스크롤바 핸들:active */
#reviewList::-webkit-scrollbar-thumb:active {
  background: #333; /* 핸들 활성 색상 */
}
