@charset "UTF-8";
body{
	font-family: "Jua", sans-serif;
}
.logo_size{
	width:180px;
}

.bg-main{
	background-color : #4C5CB3;
}
.bg-hospital-sub{
	background-color : #aaecde;
}

.bg-user-sub{
	background-color : #E3C3FF;
}
.user-nav .nav-link{
	color:#333 !important;
}

.btn-main {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4C5CB3;
    --bs-btn-border-color: #4C5CB3;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3a468b;
    --bs-btn-hover-border-color: #3a468b;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3a468b;
    --bs-btn-active-border-color: #3a468b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4C5CB3;
    --bs-btn-disabled-border-color: #4C5CB3;
}

.btn-user-sub {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dab0ff;
    --bs-btn-border-color: #dab0ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #cb91ff;
    --bs-btn-hover-border-color: #cb91ff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #cb91ff;
    --bs-btn-active-border-color: #cb91ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dab0ff;
    --bs-btn-disabled-border-color: #dab0ff;
}

.btn-hospital-sub {
    --bs-btn-color: #fff;
    --bs-btn-bg: #99e8d8;
    --bs-btn-border-color: #99e8d8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7ee2ce;
    --bs-btn-hover-border-color: #7ee2ce;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #7ee2ce;
    --bs-btn-active-border-color: #7ee2ce;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #99e8d8;
    --bs-btn-disabled-border-color: #99e8d8;
}

.btn-outline-main {
    --bs-btn-color: #4C5CB3;
    --bs-btn-border-color: #4C5CB3;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4C5CB3;
    --bs-btn-hover-border-color: #4C5CB3;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4C5CB3;
    --bs-btn-active-border-color: #4C5CB3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #4C5CB3;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #4C5CB3;
    --bs-gradient: none;
}

.btn-outline-user-sub {
    --bs-btn-color: #cb91ff;
    --bs-btn-border-color: #cb91ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #cb91ff;
    --bs-btn-hover-border-color: #cb91ff;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #cb91ff;
    --bs-btn-active-border-color: #cb91ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #cb91ff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #cb91ff;
    --bs-gradient: none;
}


.btn-outline-hospital-sub {
    --bs-btn-color: #99e8d8;
    --bs-btn-border-color: #99e8d8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #99e8d8;
    --bs-btn-hover-border-color: #99e8d8;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #99e8d8;
    --bs-btn-active-border-color: #99e8d8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #99e8d8;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #99e8d8;
    --bs-gradient: none;
}


.text-main{
	color: #4C5CB3 !important;
}

.text-user-sub{
	color: #cb91ff !important;
}

.text-hospital-sub{
	color: #99e8d8 !important;
}







