@charset "UTF-8";
header, h1{
	font-family: "Jua", sans-serif;
}
.logo_size{
	width:180px;
}

.bg-main{
	background-color : #4C5CB3;
}
.bg-hospital-sub{
	background-color : #84e3d0;
}

.bg-user-sub{
	background-color : #E3C3FF;
}
.user-nav .nav-link{
	color:#333 !important;
}

.btn-main {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4C5CB3;
    --bs-btn-border-color: #4C5CB3;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3a468b;
    --bs-btn-hover-border-color: #3a468b;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3a468b;
    --bs-btn-active-border-color: #3a468b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4C5CB3;
    --bs-btn-disabled-border-color: #4C5CB3;
}

.btn-user-sub {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dab0ff;
    --bs-btn-border-color: #dab0ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #cb91ff;
    --bs-btn-hover-border-color: #cb91ff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #cb91ff;
    --bs-btn-active-border-color: #cb91ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dab0ff;
    --bs-btn-disabled-border-color: #dab0ff;
}

.btn-hospital-sub {
    --bs-btn-color: #fff;
    --bs-btn-bg: #84e3d0;
    --bs-btn-border-color: #84e3d0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7ee2ce;
    --bs-btn-hover-border-color: #7ee2ce;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #7ee2ce;
    --bs-btn-active-border-color: #7ee2ce;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #84e3d0;
    --bs-btn-disabled-border-color: #84e3d0;
}

.btn-outline-main {
    --bs-btn-color: #4C5CB3;
    --bs-btn-border-color: #4C5CB3;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4C5CB3;
    --bs-btn-hover-border-color: #4C5CB3;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4C5CB3;
    --bs-btn-active-border-color: #4C5CB3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #4C5CB3;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #4C5CB3;
    --bs-gradient: none;
}

.btn-outline-user-sub {
    --bs-btn-color: #cb91ff;
    --bs-btn-border-color: #cb91ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #cb91ff;
    --bs-btn-hover-border-color: #cb91ff;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #cb91ff;
    --bs-btn-active-border-color: #cb91ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #cb91ff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #cb91ff;
    --bs-gradient: none;
}


.btn-outline-hospital-sub {
    --bs-btn-color: #99e8d8;
    --bs-btn-border-color: #99e8d8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #99e8d8;
    --bs-btn-hover-border-color: #99e8d8;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #99e8d8;
    --bs-btn-active-border-color: #99e8d8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #99e8d8;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #99e8d8;
    --bs-gradient: none;
}


.text-main{
	color: #4C5CB3 !important;
}

.text-user-sub{
	color: #cb91ff !important;
}

.text-hospital-sub{
	color: #99e8d8 !important;
}

#mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E3C3FF; /* 반투명 배경 */
    transition: opacity 0.3s ease; /* opacity 속성에 0.3초 동안 ease 전환 효과 적용 */
    opacity: 0; /* 초기 상태는 완전히 투명 */
    z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
    pointer-events: none; /* 기본적으로 이벤트를 받지 않도록 설정 */
}

#mobileMenu.open {
    opacity: 1; /* 열릴 때 투명도를 1로 변경하여 나타나게 함 */
    pointer-events: auto;
}
.user-nav .nav-item {
    position: relative; /* 부모 요소에 position을 설정하여 가상 요소의 위치를 제어합니다. */
}

.user-nav .nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px; /* 아래쪽 테두리의 높이를 지정 */
    background-color: transparent;
    transition: width 0.3s, background-color 0.3s; /* 너비 변경 및 배경색 변경에 대한 시간 설정 */
}

.user-nav .nav-item:hover::after {
    width: 100%;
    background-color: #E3C3FF; /* 호버 시 배경색을 보라색으로 변경합니다. */
}

.user-nav .nav-link.active-pet {
    color: #4C5CB3 !important;
}





