@charset "UTF-8";

.cityContainer, .guContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px auto;
}

.cities, .guEl {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

.cities:hover, .guEl:hover {
    background-color: #E3C3FF;
}

.bg-primary {
    background-color: #4C5CB3 !important;
    color: #fff !important;
    border-color: #4C5CB3 !important;
}

.vet {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    font-family: "Jua", sans-serif;
}

.vet-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vet-header .pin {
    margin-left: 5px;
}

.vet-header .bookmark {
    margin-left: auto;
}

.vet-body {
    margin-top: 5px;
}

.vet:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    color: #333;
}

.modal-sub-title{
	font-family: "Jua", sans-serif;
	margin-right:5px;
}

.modal-item{
	 border-bottom: 1px solid #ddd;
	 padding:10px;
	 margin-bottom:10px;
}

.img_container{
	width:100%;
	height: 200px;
	text-align:center;
}

#logo{
	width:auto;	
	height:100%;
}


