@charset "UTF-8";

.cityContainer, .guContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px auto;
}

.cities, .guEl {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

.cities:hover, .guEl:hover {
    background-color: #E3C3FF;
}

.bg-primary {
    background-color: #4C5CB3 !important;
    color: #fff !important;
    border-color: #4C5CB3 !important;
}

.vet {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin: 15px auto;
    font-family: "Jua", sans-serif;
}

.vet_list button {
    margin-bottom: 10px;
}

.modal-sub-title{
	font-family: "Jua", sans-serif;
	margin-right:5px;
}

.modal-item{
	 border-bottom: 1px solid #ddd;
	 padding:10px;
	 margin-bottom:10px;
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    color: #333;
}

