<header class="border-bottom" th:fragment="header">
	<div class="d-flex bg-user-sub p-2 px-3">
		<div class="ms-auto">
		<a id="login-link" class="navbar-brand" href="/login_form">로그인</a>
		<a id="mypage-link" class="navbar-brand" href="#" onclick="mypage()" style="display: none;">마이페이지</a>
		 <a id="logout-link" class="navbar-brand" href="#" onclick="logout()" style="display: none;">로그아웃</a>
		<span class="mx-3"id ="bar"> | </span>
		<a id="register-link" class="navbar-brand" href="/register_form">회원가입</a>
		</div>
	</div>
	<div class="d-flex flex-wrap justify-content-center align-items-center py-3">
      <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto ps-md-3 link-body-emphasis text-decoration-none">
      <div class="logo_size">
        <img src="/images/logo_user.png" class="w-100" alt="로고">
        </div>
        
      </a>

      <ul class="nav nav-pills user-nav">
        <li class="nav-item"><a href="/" class="nav-link fs-5" aria-current="page">내주변 동물병원</a></li>
        <li class="nav-item"><a href="/user/vet_list_region" class="nav-link fs-5">지역별 동물병원</a></li>
        <li class="nav-item"><a href="/user/reserv_list" class="nav-link fs-5">병원 예약 내역</a></li>
        <li class="nav-item"><a href="#" class="nav-link fs-5">이벤트 경매</a></li>
        <li class="nav-item"><a href="#" class="nav-link fs-5">펀딩</a></li>
        <li class="nav-item"><a href="#" class="nav-link fs-5">펫키우기</a></li>
        <li class="nav-item"><a href="#" class="nav-link fs-5">집수다</a></li>
        <li class="nav-item"><a href="/user/myQnaList" class="nav-link fs-5">고객센터</a></li>
      </ul>
	</div>
	<script>
            function logout() {
                localStorage.clear();
                window.location.href = "/";
            }
            
            function mypage() {
                window.location.href = "/user/my_info_edit";
            }
            
            document.addEventListener("DOMContentLoaded", function() {
                const memberId = localStorage.getItem('MemberId');
                const loginLink = document.getElementById('login-link');
                const registerLink = document.getElementById('register-link');
                const mypageLink = document.getElementById('mypage-link');
                const logoutLink = document.getElementById('logout-link');
                const bar = document.getElementById('bar');
                if (memberId) {
                    loginLink.style.display = 'none';
                    registerLink.style.display = 'none';
                    logoutLink.style.display = '';
                    mypageLink.style.display = '';
                    bar.style.display = 'none';
                } else {
                    loginLink.style.display = '';
                    registerLink.style.display = '';
                    logoutLink.style.display = 'none';
                    mypageLink.style.display = 'none';
                    bar.style.display = '';
                }
            });
        </script>
</header>
