<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 정보 수정</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>	
</head>
<body class="d-flex flex-column h-100">
	<div th:replace="~{hospital/header :: header}"></div>
	<div class="container-xl">
		<h2 class="mt-5 mb-3">회원 정보 수정</h2>

		<form id="frmEditUser">
			<div class="mb-3">
				<label class="form-label">아이디</label>
				<input type="text" name="username" id="username" class="form-control" readonly>
			</div>
			<div class="mb-3">
				<input type="checkbox" id="passwordCheckBox" onchange="togglePasswordCheckBox()">
 				<label class="form-label">비밀번호</label> 
				<input type="password" name="passwordNew" class="form-control" disabled>
				<input type="hidden" name="passwordOrigin">
				<div>비밀번호는 5자 이상, 15자 이하, 영어, 숫자, 특수문자를 포함해야 합니다.</div>
			</div>
			<div class="mb-3">
				<label class="form-label">주소</label>
				<select id="address1" class="form-control" name="address1" onchange="address1SelectChanged()"></select>
				<select id="address2" class="form-control" name="address2"></select>
				<input type="text" class="form-control" name="detailAddress">
			</div>
			<div class="mb-3">
				<label class="form-label">전화번호</label>
				<input type="text" name="phone" class="form-control">
			</div>
			<div class="mb-3">
				<label class="form-label">이메일</label>
				<input type="text" name="email" class="form-control">
			</div>
			<div class="mb-3">
				<label class="form-label">이름</label>
				<input type="text" name="name" class="form-control">
			</div>
			<div class="mb-3">
					<div class="inputBox">
						<div class="d-flex">
							<label class="form-label">닉네임</label> <input type="button" class="btn btn-main ms-auto" value="중복체크" onclick="checkNickname(event)">
						</div>
						<input type="text" name="nickname" id="nickname" class="form-control">
						<div id="nicknameResult"></div>
					</div>
				</div>
			
			<input type="button" value="수정하기" class="btn btn-main" onclick="editUser()">
			
		</form>
	</div>

	<div th:replace="~{hospital/footer :: footer}"></div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

	<script src="/js/address.js"></script>
	<script>
	readyAddress();
	readyInfo();
	
	function readyInfo() {
		
		const frm = document.querySelector("#frmEditUser");
		
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function() {
			//alert(this.responseText);
			var result = JSON.parse(this.responseText)[0];
			frm.username.value=result.username;
			frm.passwordOrigin.value=result.password;
			
			var parts = result.address.split('//');
            // 공백이 두 개 미만이면 빈 문자열 반환
            let address1 = parts[0];
            let address2 = parts[1];
            let detailAddress = '';
            if (parts.length <= 2) {
                detailAddress = '';
            }
            // 두 번째 공백 이후의 부분 문자열 추출
            detailAddress = parts.slice(2);
            frm.detailAddress.value = detailAddress;
            selectOptionByValue("address1", address1);
            //비동기로 실행해야해서 콜백함수 씀(json.js의 코드도 바뀜)
            address1SelectChanged(function () {
                selectOptionByValue("address2", address2);
            });
			frm.phone.value=result.phone;
			frm.email.value=result.email;
			frm.name.value=result.name;
			frm.nickname.value = result.nickname;
		}
		xhttp.open("get", "http://localhost:9001/api/v1/user/userInfo/"+localStorage.getItem("MemberId"));
		//xhttp.setRequestHeader("Content-type", "application/json");
		var token = localStorage.getItem('token');
		if (token) {
			xhttp.setRequestHeader("Authorization",token);
		}
		xhttp.send();
	}
	

	// 유저 정보 수정
	function editUser() {
		if (!userValidateForm()) {
			return;
		}
		const frm = document.querySelector("#frmEditUser");
		const passwordChecked = document.querySelector("#passwordCheckBox").checked;
		
		
		const frm_ = {
			"memberId": localStorage.getItem("MemberId"),
			"username": frm.username.value,
			
			"name": frm.name.value,
			"email": frm.email.value,
			"address": frm.address1.value + "//" + frm.address2.value + "//" + frm.detailAddress.value,
			"phone": frm.phone.value,
			"nickname": frm.nickname.value,
			"passwordCheckBox" : frm.passwordCheckBox.value,
			"passwordOrigin" : frm.passwordOrigin.value,
			"passwordNew" : frm.passwordNew.value
			
		};
		const data = JSON.stringify(frm_);

		const xhttp = new XMLHttpRequest();
		xhttp.onload = function() {
			var result = this.responseText;
			alert(this.responseText);
			//document.getElementById("result").innerHTML = result;
		}
		xhttp.open("put", "http://localhost:9001/api/v1/user/userInfo");
		xhttp.setRequestHeader("Content-type", "application/json");
		var token = localStorage.getItem('token');
		if (token) {
			xhttp.setRequestHeader("Authorization",token);
		}
		xhttp.send(data);
	}

	// 이메일 유효성 검사
	function validateEmail(email) {
		const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
		return emailPattern.test(email);
	}

	// 비밀번호 유효성 검사
	function validatePassword(password) {
		if (password.length < 5 || password.length > 15) {
			return false;
		}
		const passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{5,15}$/;
		return passwordPattern.test(password);
	}

	// 유저 폼 데이터 유효성 검사
	function userValidateForm() {
		const frm = document.querySelector("#frmEditUser");
		const fields = ["username", "name", "email", "address1", "address2", "detailAddress", "phone", "nickname"];
		
		for (let i = 0; i < fields.length; i++) {
			const field = frm[fields[i]];
			if (!field.value.trim()) {
				
				alert(fields[i] + " 항목을 채워주세요.");
				field.focus();
				return false;
			}
		}
		const email = frm.email.value.trim();
		if (!validateEmail(email)) {
			alert("올바른 이메일 주소를 입력해 주세요.");
			frm.email.focus();
			return false;
		}
		if(document.querySelector("#passwordCheckBox").checked){
			const password = frm.passwordNew.value.trim();
			if (!validatePassword(password)) {
				alert("비밀번호는 5자 이상 15자 이하의 길이여야 하며, 영어, 숫자, 특수문자를 포함해야 합니다.");
				frm.password.focus();
				return false;
			}
		}
		
		const nicknameResult = document.getElementById("nicknameResult").innerText;
		 if (!nicknameResult.includes("사용가능")) {
             alert("닉네임 중복 체크를 확인해 주세요.");
             document.querySelector("#nickname").focus();
             return false;
         }
		return true;
	}
	
	//유저닉네임 중복 체크
	function checkNickname(event){
		event.preventDefault();
		const nickname = document.querySelector("#nickname");
		//alert(username.value);
		if(nickname.value.length <3 ||nickname.value.length >12){
			alert("닉네임을 3자 이상,12자 이하로 등록해주세요.");
			return;
		}
		
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function() {
			//alert(this.responseText);
			var result = this.responseText;
			document.getElementById("nicknameResult").innerHTML = result;
		}
		const memberId=localStorage.getItem('MemberId');
		xhttp.open("post", "http://localhost:9001/api/v1/common/check/nickname/"+memberId);
		xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");	

		xhttp.send("nickname=" + nickname.value);
	}
	
	//비밀번호 변경여부
	function togglePasswordCheckBox(){
		const isChecked = document.querySelector("#passwordCheckBox").checked;
	    
	    const password = document.querySelector('input[name=passwordNew]')
	    
	   	password.disabled = !isChecked;
	   
	}
	
	</script>
</body>
</html>
