<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>견강할고양</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
</head>
<style>
	#previewImage{
		max-width : 250px;
	}

	.container-xl{
		width : 1000px;
	}
	input[type=text],input[type=date] {
		width: 800px;
		height: 40px;
	}
	.btn-container {
        display: flex;
        justify-content: center; /* 버튼을 오른쪽으로 정렬 */
        margin: 30px;
        
    }
    
    #regBtn {
    background-color: #4C5CB3;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
	}

	#regBtn:hover {
    background-color: #F3E2A9;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}
	
	.petInfo{
	display: flex;
    flex-direction: column;
    align-items: center; /* 가로 방향 가운데 정렬 */
    justify-content: center; /* 세로 방향 가운데 정렬 */
    width: 100%; /* 전체 너비 사용 */
    margin: 0 auto;
	}
	
	.form-select {
        width: 300px; /* 부모 요소의 폭을 차지하도록 설정 */
        
    }
    .col-md-6, .col-lg-3 {
        width: 300px; /* 부모 요소의 너비를 전체로 설정 */
        margin-right : 20px;
    }
      h2, h3, p, label, select, input {
        font-weight: bold; /* 지정한 요소의 텍스트를 굵게 설정 */
    }
</style>
<body class="d-flex flex-column h-100">
<div th:replace="~{user/header :: header}"></div>
<div class="container-xl">


<h1 class="mt-3 mt-md-5 mb-3 mb-md-3">🐾내 반려동물 등록</h1>
<hr>



 <div class="container-sm text-center profileImg_box position-relative">
	<p>반려동물의 사진을 등록해주세요!</p>
    <img id="previewImage" src="/images/no_image2.jpg" alt="사진" class="img-fluid" ><br><br>
    <input type="file" id="fileInput" name="photo" onchange="previewFile()">
 </div>

	<div class="petInfo">
		<div class="mb-3">
		    <label for="petname" class="form-label">반려동물 이름</label>
		    <input type="text" name="name" class="form-control" id="petname"  placeholder="ex)식빵이">
		</div>
		
		<div class="row">
		    <div class="col-md-6 col-lg-3 mb-3">
		        <label for="petBigType" class="form-label">반려동물 종류</label>
		        <select id="petBigType" class="form-select" name="bigtype">
		            <option value="">선택하세요</option>
		            <option value="강아지">강아지</option>
		            <option value="고양이">고양이</option>
		            <option value="기타">기타</option>
		        </select>
		    </div>
		    <div class="col-md-6 col-lg-3 mb-3">
		        <label for="petType" class="form-label">반려동물 품종</label>
		        <select id="petType" class="form-select" name="type">
		            <option value="">반려동물 종류를 먼저 선택하세요</option>
		        </select>
		    </div>
		</div>
		
		        
		<div class="mb-3">
		    <label for="birth" class="form-label">생년월일</label>
		    <input type="date" name="birthdate" class="form-control" id="birth">
		</div>
		<div class="mb-3">
		    <label for="weight" class="form-label">체중 (숫자만 입력해주세요)</label>
		    <input type="text" name="weight" class="form-control" id="weight" placeholder="ex)5">
		</div>
		<div class="mb-3">
		    <label for="health" class="form-label">걱정되는 질병이 무엇인가요?</label>
		    <input type="text" name="healthIssues" class="form-control" id="health" placeholder="ex)비만">
		</div>
		
		<div class="mb-3">
		    <label class="form-label">성별</label><br>
		    <input type="radio" class="form-check-input" id="genderMale" name="gender" value="male" checked>
		    <label class="form-check-label" for="genderMale">남자</label><br>
		    <input type="radio" class="form-check-input" id="genderFemale" name="gender" value="female">
		    <label class="form-check-label" for="genderFemale">여자</label>
		</div>
		
		<div class="mb-3">
		    <label class="form-label">중성화여부</label><br>
		    <input type="radio" class="form-check-input" id="neutered" name="isNeutered" value="true" checked>
		    <label class="form-check-label" for="neutered">완료</label><br>
		    <input type="radio" class="form-check-input" id="no_neutered" name="isNeutered" value="false">
		    <label class="form-check-label" for="no_neutered">미완료</label>
		</div>
	
	</div>
	
<div class="btn-container">
<button type="submit" id="regBtn">반려동물 등록하기🦴</button>
</div>


</div>
<div th:replace="~{user/footer :: footer}"></div>
<script>
const token = localStorage.getItem("token");
const MemberId = localStorage.getItem("MemberId");


document.getElementById('petBigType').addEventListener('change', function() {
    const petType = document.getElementById('petType');
    petType.innerHTML = ''; // 두 번째 셀렉트 박스를 초기화

    const petBigType = this.value;
    let options = '';

    if (petBigType === '강아지') {
        options = `
        	<option value="믹스견">믹스견</option>
            <option value="시바견">시바견</option>
            <option value="말티즈">말티즈</option>
            <option value="포메라니안">포메라니안</option>
            <option value="치와와">치와와</option>
            <option value="시츄">시츄</option>
            <option value="푸들">푸들</option>
            <option value="불독">불독</option>
            <option value="비숑">비숑</option>
            <option value="비글">비글</option>
            <option value="브로콜리">브로콜리</option>
            <option value="하운드">하운드</option>
            <option value="코카스파니엘">코카스파니엘</option>
        `;
    } else if (petBigType === '고양이') {
        options = `
        	<option value="믹스묘">믹스묘</option>
            <option value="페르시안">페르시안</option>
            <option value="샴">샴</option>
            <option value="메인쿤">메인쿤</option>
            <option value="랙돌">랙돌</option>
            <option value="스핑크스">스핑크스</option>
            <option value="아메리칸숏헤어">아메리칸숏헤어</option>
            <option value="터키시앙고라">터키시앙고라</option>
            <option value="노르웨이숲">노르웨이숲</option>
            <option value="러시안블루">러시안블루</option>
            <option value="친칠라">친칠라</option>
        `;
    } else if (petBigType === '기타') {
        options = `
            <option value="토끼">토끼</option>
            <option value="햄스터">햄스터</option>
            <option value="새">새</option>
            <option value="물고기">물고기</option>
            <option value="도마뱀">도마뱀</option>
            <option value="뱀">뱀</option>
            <option value="거북이">거북이</option>
            <option value="기타">기타</option>
        `;
    }

    petType.innerHTML = options;
});


function previewFile() {
    const fileInput = document.getElementById('fileInput');
    const previewImage = document.getElementById('previewImage');

    const file = fileInput.files[0];
    const reader = new FileReader();

    reader.onloadend = function () {
        previewImage.src = reader.result;
    };

    if (file) {
        reader.readAsDataURL(file);
    }
}

document.getElementById('regBtn').addEventListener('click', function() {
    const formData = new FormData();
    const fileInput = document.querySelector('input[name="photo"]');
    const file = fileInput.files[0];

    if (file) {
        formData.append('photo', file);
    }

    formData.append('name', document.querySelector('input[name="name"]').value);
    formData.append('bigtype', document.querySelector('select[name="bigtype"]').value);
    formData.append('type', document.querySelector('select[name="type"]').value);
    formData.append('birthdate', document.querySelector('input[name="birthdate"]').value);
    formData.append('weight', document.querySelector('input[name="weight"]').value);
    formData.append('healthIssues', document.querySelector('input[name="healthIssues"]').value);
    formData.append('gender', document.querySelector('input[name="gender"]:checked').value);
    formData.append('isNeutered', document.querySelector('input[name="isNeutered"]:checked').value);

    $.ajax({
        url: "http://localhost:9001/user/mypage/myPet",
        type: "POST",
        data: formData,
        headers: {
            'Authorization': token,
            'MemberId': MemberId
        },
        processData: false,
        contentType: false,
        success: function(response) {
            console.log("반려동물 등록 성공!");
            alert("나의 반려동물이 성공적으로 등록되었습니다.");
            window.location.href = "/user/myPetList";
        },
        error: function(xhr, status, error) {
            console.error("반려동물 등록 실패");
            alert("반려동물 등록에 실패했습니다.");
        },
        complete: function(jqXHR, textStatus) {
            responseCheck(jqXHR);
        } 
    });
});
</script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>