<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>견강할고양</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/myPetList.css" rel="stylesheet">
<link rel="stylesheet" href="/css/userMyPage_SideBar.css">
<link rel="stylesheet" href="/css/mypage.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
<style>
    .pet-image-container {
        position: relative;
        display: inline-block;
    }

    .pet-image {
        display: block;
        
    }

    .edit-overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        color: white;
        text-align: center;
        line-height: 300px;
        font-size: 18px;
    }

    .pet-image-container:hover .edit-overlay {
        display: block;
    }
</style>

</head>

<body class="d-flex flex-column h-100">
<div th:replace="~{user/header :: header}"></div>

    <div class="d-flex flex-grow-1">
        <aside class="side-bar" th:replace="~{user/sidemenu :: sidemenu}"></aside>

        <div class="main-content container-xl">
        
			<h1 class="mt-3 mt-md-5 mb-3 mb-md-3">🐾내 반려동물 친구들</h1>
			<hr>
	
			<div id="petList" class="column"></div>
	
			<div class="mt-3">
			    <a href="/user/myPetForm" class="btn btn-primary">반려동물 추가하기</a>
			</div>
	
	
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h1 class="modal-title fs-5" id="exampleModalLabel">사진 변경</h1>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        <input type="file" name="file">
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" onclick="updateFile(event)">변경</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	
<div th:replace="~{user/footer :: footer}"></div>


<script>
const token = localStorage.getItem("token");
const MemberId = localStorage.getItem("MemberId");


$(document).ready(function() {
    console.log("memId 출력 : " + MemberId);
    $.ajax({
        url: 'http://localhost:9001/user/mypage/myPet',
        type: 'GET',
        dataType: 'json',
        headers: {
            'Authorization': token,
            'MemberId': MemberId
        },
        success: function(response) {
            var petListContainer = $("#petList");
            petListContainer.empty(); // 기존 목록을 비웁니다

            if (response.length > 0) {
                var hasPets = false; // 반려동물이 있는지 확인할 플래그
                
                for (var i = 0; i < response.length; i++) {
                    var pet = response[i];
                    
                    // 상태가 "삭제"인 경우 리스트에 추가하지 않음
                    if (pet.status !== "삭제") {
                        hasPets = true; // 반려동물이 있는 경우 플래그를 true로 설정
                        
                        var petItem = `
                            <div class="col-md-6 col-lg-4">
                                <div class="pet-item">
	                                <div class="pet-image-container">
		                                <img src="/images/user/${pet.photo}" class="img-fluid pet-image" id="petImg${i}" data-pet-id="${pet.id}" style="width: 400px; height : 300px;">
		                                <div class="edit-overlay" data-pet-id="${pet.id}" data-bs-toggle="modal" data-bs-target="#exampleModal">
		                                    사진 수정하기
		                                </div> 
		                            </div>
                                    <ul class="list-unstyled mb-0">
                                        <li><strong>이름:</strong> <span id="petName${i}">${pet.name}</span></li>
                                        <li><strong>종류:</strong> <span id="petType${i}">${pet.type}</span></li>
                                    </ul>
                                    <div class="btn-edit-delete">
                                        <button type="button" class="btn btn-sm btn-outline-primary" onclick="edit(${pet.id})">수정</button>
                                        <button type="button" class="btn btn-sm btn-outline-danger" onclick="deletePet(${pet.id})">삭제</button>
                                    </div>
                                </div>
                            </div>
                        `;
                        petListContainer.append(petItem);
                    }
                }
                
                if (!hasPets) {
                    petListContainer.html("<img src='/images/cute.png' style='width:160px; height:160px; margin : 0 auto;'>");
                    petListContainer.append("나의 반려동물이 없습니다. 반려동물을 등록해보세요!");
                }
            } else {
                petListContainer.html("<img src='/images/cute.png' style='width:160px; height:160px; margin : 0 auto;'>");
                petListContainer.append("나의 반려동물이 없습니다. 반려동물을 등록해보세요!");
            }
            
            $('.pet-image-container').on('click', '.pet-image, .edit-overlay', function() {
                var petId = $(this).data('pet-id');
                $('#exampleModal').data('pet-id', petId);
                $('#exampleModal').modal('show'); // 모달 창을 표시
            });
        },
        error: function(xhr, status, error) {
            console.error('Error fetching pet data:', error);
        },
        complete: function(jqXHR, textStatus) {
            responseCheck(jqXHR);
        } 
    });
});

function edit(id) {
	 window.location.href = '/user/myPetEdit?id=' + id;
}

function deletePet(id) {
	const result =confirm("해당 반려동물을 삭제하시겠습니까??");
	if(result){
	    $.ajax({
	        url: 'http://localhost:9001/user/mypage/myPetDelete/'+id,
	        type: 'PUT',
	        headers: {
	            'Authorization': token,
	            'MemberId': MemberId
	        },
	        success: function(response) {
	            alert(response);
	            window.location.reload();
	        },
	        error: function(xhr, status, error) {
	            alert("삭제에 실패하였습니다.")
	        },
	        complete: function(jqXHR, textStatus) {
	            responseCheck(jqXHR);
	        } 
	    });
	}
}


function updateFile(event) {
    var petId = $('#exampleModal').data('pet-id');
    var fileInput = $('input[name="file"]')[0];
    var formData = new FormData();
    formData.append('file', fileInput.files[0]);
    formData.append('petId', petId);

    $.ajax({
        url: 'http://localhost:9001/user/mypage/petPhoto',
        type: 'PUT',
        headers: {
            'Authorization': token,
            'MemberId': MemberId
        },
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
            alert('사진이 변경되었습니다.');
            location.reload();
        },
        error: function(xhr, status, error) {
            console.error('Error updating pet photo:', error);
            console.log("Response status:", xhr.status);
            console.log("Response text:", xhr.responseText);
        },
        complete: function(jqXHR, textStatus) {
            responseCheck(jqXHR);
        } 
    });
}

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>