<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>견강할고양</title>
<script type="text/javascript"
	src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=v02baxm8gp"></script>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/reserv_form.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap"
	rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
	<img style="display: none" id="mainGif" src="/images/loading.gif">
	<div th:replace="~{user/header :: header}"></div>
	<div class="container-xl">
		<h1 class="mt-3 mt-md-5 mb-3 mb-md-3">동물병원 예약 수정</h1>
		<div class="mt-3 item"><div>동물병원</div><input type="text" id="vetName" disabled></div>
		<div class="mt-3 item"><div>날짜*</div><input type="date" name="reserv_date"></div>
		<div class="mt-3 item">
			<div>수의사 선택*</div>
			<select id="vet" class="form-select" aria-label="Default select example">
			  <option value="default" selected>원하는 선생님을 선택해주세요</option>
			</select>
		</div>
		<div class="mt-3 item">
			<div>시간 선택*</div>
			<div id="time_slot">
			</div>
		</div>
		<div class="mt-3 item"><div>보호자</div><input name="user_name" type="text" disabled></div>
		<div class="mt-3 item">
			<div>반려동물 선택*</div>
			<select id="pet" class="form-select" aria-label="Default select example">
			  <option selecte value="">진료보길 원하는 반려동물을 선택해주세요</option>
			</select>
		</div>
		<div class="mt-3 item">
			<div>진료유형*</div>
			<select id="type" class="form-select" aria-label="Default select example">
			  <option selected value="">진료유형을 선택해주세요</option>
			  <option value="일반진료">일반진료</option>
			  <option value="건강검진">건강검진</option>
			  <option value="예방접종">예방접종</option>
			  <option value="스케일링">스케일링</option>
			</select>
		</div>
		<div class="mt-3 item"><div>메모</div><textarea type="text" name="memo"></textarea></div>
		<div class="mt-3 item">
			<div>쿠폰사용</div>
			<select id="coupon" class="form-select" aria-label="Default select example">
			  <option selected>쿠폰사용 안함</option>
			</select>
		</div>
		<div class="mt-3 item">
		<div><span>포인트 사용</span><span>&nbsp &nbsp ※ 1000 포인트 단위로 사용 가능</span><span> &nbsp&nbsp 보유포인트 <span id="point"></span>P</span></div>
		<input type="text" name="points_used" placeholder="0">
		</div>
		<input class="btn btn-main" onclick=" return submitForm(event)" type="button" value="예약수정">
		<button class="btn btn-user-sub" onclick="">문의채팅</button>
	</div>
	<div th:replace="~{user/footer :: footer}"></div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
<script th:inline="javascript" type="text/javascript" src="/js/reservation.js"></script>

<script th:inline="javascript">
let reservId = "[[${id}]]";
let oriSelectedTimeslot = null;


const xhttp = new XMLHttpRequest();
xhttp.onload = function() {
	let data = JSON.parse(this.responseText);
	console.log(data)
	loadBasicInfo(data)
	loadReservationInfo(data)
}
xhttp.open("GET", "http://localhost:9001/api/v1/user/reservation/"+reservId, true);
xhttp.setRequestHeader("MemberId", localStorage.getItem("MemberId"));
xhttp.setRequestHeader("token", localStorage.getItem("token"));
xhttp.setRequestHeader("role", localStorage.getItem("role"));
xhttp.send();

function loadReservationInfo(data){
	let userInfo = data[0];
	let vetAvailInfo = data[1];
	let vetInfo = data[2];
	let reservInfo = data[3].reservation;
	let basicHours = JSON.parse(vetInfo[Object.keys(vetInfo)[0]].businessHours);
	let basicHoursArr = getBasicBusinessHours(basicHours);
	
	// 배열에서 년, 월, 일, 시, 분을 추출
    const [year, month, day, hour, minute] = reservInfo.reservationDatetime;
    // Date 객체 생성 (월은 0부터 시작하므로 month - 1)
    const date = new Date(year, month - 1, day, hour, minute);
	
	selectedDate = convertToTimeZone(date,'Asia/Seoul');
	
	selectedDay = new Date(selectedDate).getDay();
	selectedVet = reservInfo.doctor.id
	console.log(year)
	console.log(month)
	console.log(day)
	console.log(hour)
	console.log(minute)
	console.log(selectedDate)
	console.log(selectedDay)
// 	console.log(new Date('2024-07-12').getDay())

	
	

	

	 //병원 이름 넣기
	 document.querySelector("#vetName").setAttribute("value", Object.keys(vetInfo)[0]);
	 //포인트정보넣기
	 document.querySelector("input[name=points_used]").value = reservInfo.pointsUsed;
	 
	 if(reservInfo.coupon != null){
		 let listItem = document.createElement("option");
		 listItem.setAttribute("value", reservInfo.coupon.id);
		 listItem.innerHTML = reservInfo.coupon.name + ', 발행날짜' + formattingDate(reservInfo.coupon.issueDate) + ', 만료날짜' + formattingDate(reservInfo.coupon.expiryDate);
		 document.querySelector("#coupon").appendChild(listItem);
		 
		 //쿠폰 정보 넣기
		 document.querySelector("#coupon").value = reservInfo.coupon.id;
	 }
	
	 //반려동물정보넣기
	 document.querySelector("#pet").value = reservInfo.pet.id;
	 //메모정보넣기
	 document.querySelector("textarea").innerHTML = reservInfo.memo;
	 //타입정보 넣기
	 document.querySelector("#type").value = reservInfo.type;
	 //수의사정보넣기
     document.querySelector("#vet").value = selectedVet;
	 //예약날짜 넣기
	 document.querySelector("input[type=date]").value = selectedDate;
	 
	 loadTimeslot(basicHoursArr,vetAvailInfo);
	 
	 selectedTime = hour.toString().padStart(2, '0')+":"+minute.toString().padStart(2, '0');
	 selectedSlot = oriSelectedTimeslot;
	 oriSelectedTimeslot = document.querySelector("span[value='"+ selectedTime +"']")
	 oriSelectedTimeslot.style.backgroundColor= "#84e3d0";
}


function submitForm(e){
	e.preventDefault();
	let formData = {
		"reservId" : reservId,
		"doctorId": selectedVet,
		"date" : document.querySelector("input[type=date]").value,
		"time" : selectedTime,
		"pet" : document.querySelector("#pet").value,
		"type": document.querySelector("#type").value,
		"memo": document.querySelector("textarea").value,
		"coupon" : document.querySelector("#coupon").value,
		"point":document.querySelector("input[name=points_used]").value,
	}
	if(selectedVet == null || document.querySelector("input[type=date]").value == null 
			|| selectedTime == null || document.querySelector("#pet").value == ""
			|| document.querySelector("#type").value == ""){
		alert("필수 입력값이 비어있습니다. 다시 확인해주세요");
		return false;
	}
	console.log(formData)
	
	 const xhttp = new XMLHttpRequest();
	  xhttp.onload = function() {
	    //다른페이지로 이동?ㅎㅎ,,
	    alert("예약이 성공적으로 수정되었습니다");
	    //마이페이지로 이동
// 	    location.href="/"
	    }
	  xhttp.open("PUT", "http://localhost:9001/api/v1/user/reservation", true);
	  xhttp.setRequestHeader("MemberId", localStorage.getItem("MemberId"));
	  xhttp.setRequestHeader("token", localStorage.getItem("token"));
	  xhttp.setRequestHeader("role", localStorage.getItem("role"));
	  xhttp.setRequestHeader("Content-type", "application/json");
	  xhttp.send(JSON.stringify(formData));
}













</script>



</body>

</html>