<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>견강할고양</title>
<script type="text/javascript"
	src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=v02baxm8gp"></script>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/reserv_form.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap"
	rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
	<img style="display: none" id="mainGif" src="/images/loading.gif">
	<div th:replace="~{user/header :: header}"></div>
	<div class="container-xl">
		<h1 class="mt-3 mt-md-5 mb-3 mb-md-3">동물병원 예약 등록</h1>
		<div><span>동물병원</span><input type="text" id="vetName"></div>
		<div><span>날짜</span><input type="date" name="reserv_date"></div>
		<div>
			<span>수의사 선택</span>
			<select id="vet" class="form-select" aria-label="Default select example">
			  <option value="default" selected>원하는 선생님을 선택해주세요</option>
			</select>
		</div>
		<div>
			<span>시간 선택</span>
			<div id="time_slot">
			</div>
		</div>
		<div><span>보호자</span><input type="text" value="로그인한회원이름"></div>
		<div>
			<span>반려동물 선택</span>
			<select id="pet" class="form-select" aria-label="Default select example">
			  <option selected>진료보길 원하는 반려동물을 선택해주세요</option>
			</select>
		</div>
		<div>
			<span>진료유형</span>
			<select id="type" class="form-select" aria-label="Default select example">
			  <option selected>진료유형을 선택해주세요</option>
			  <option value="일반진료">일반진료</option>
			  <option value="건강검진">건강검진</option>
			  <option value="예방접종">예방접종</option>
			  <option value="스케일링">스케일링</option>
			</select>
		</div>
		<div><span>메모</span><textarea type="text" name="memo"></textarea></div>
		<div>
			<span>쿠폰사용</span>
			<select id="coupon" class="form-select" aria-label="Default select example">
			  <option selected>쿠폰사용 안함</option>
			</select>
		</div>
		<div>
		<span>포인트 사용</span><span> ※ 1000 포인트 단위로 사용 가능</span><span>보유포인트 <span id="point"></span>P</span>
		<input type="text" name="points_used" placeholder="0">
		</div>
		<input onclick="submitForm(event)" type="button" value="예약등록">
		<button onclick="">문의채팅</button>
	
	</div>
	<div th:replace="~{user/footer :: footer}"></div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
<script th:inline="javascript" type="text/javascript" src="/js/reserv_form.js"></script>

<script th:inline="javascript">
let hosId = "[[${id}]]";
let today = new Date();
let selectedDate;
//0:일, 1:월, 2:화 .... 6:토
let selectedDay;
let selectedVet;
let selectedTime;
const date = document.querySelector("input[type=date]");
const vet = document.querySelector("#vet");
const timeSlot = document.querySelector("#time_slot");


function setDateLimit(){
	//오늘 날짜보다 이전 날짜는 선택할 수 없도록  
	date.setAttribute("min", today.toISOString().substring(0,10))
	//max 날짜는 3개월 오늘 날짜 전일
	today.setMonth(today.getMonth()+2)
	date.setAttribute("max", today.toISOString().substring(0,10))
}
setDateLimit();


date.addEventListener("change", function(e){
	if(selectedVet != null){
		selectedVet="";
		vet.value= "default";
	}
	selectedDate = e.target.value
	selectedDay = new Date(selectedDate).getDay();
})



const xhttp = new XMLHttpRequest();
xhttp.onload = function() {
	let data = JSON.parse(this.responseText);
	let userInfo = data[0];
	let vetAvailInfo = data[1];
	let vetInfo = data[2];
	let vetNamesNIds = Object.keys(vetAvailInfo);
	let basicHours = JSON.parse(vetInfo[Object.keys(vetInfo)[0]].businessHours);
	let basicHoursArr = getBasicBusinessHours(basicHours);
	console.log(data)
  //병원 이름 넣기
  document.querySelector("#vetName").setAttribute("value", Object.keys(vetInfo)[0]);
  //포인트정보넣기
  document.querySelector("#point").innerHTML = userInfo.pointList[0];
  //쿠폰 정보 넣기
  for(let i = 0; i < userInfo.couponList.length; i++){
	  let coupon = userInfo.couponList[i];
	  let listItem = document.createElement("option");
	  listItem.setAttribute("value", coupon.id);
	  listItem.innerHTML = coupon.name + ', 발행날짜' + formattingDate(coupon.issueDate) + ', 만료날짜' + formattingDate(coupon.expiryDate);
	  document.querySelector("#coupon").appendChild(listItem);
  }
  //반려동물정보넣기
  for(let i = 0; i < userInfo.petList.length; i++){
	  let pet = userInfo.petList[i];
	  let listItem = document.createElement("option");
	  listItem.setAttribute("value", pet.id);
	  listItem.innerHTML = pet.name + '';
	  document.querySelector("#pet").appendChild(listItem);
  }
  //수의사정보넣기
  for(let i = 0; i < vetNamesNIds.length; i++){
	  console.log(vetNamesNIds[i])
	  let vet = vetNamesNIds[i].split("//")
	  let vetName = vet[1];
	  let vetId = vet[0];
	
	  let listItem = document.createElement("option");
	  listItem.setAttribute("value", vetId);
	  listItem.innerHTML = vetName + ' 수의사 선생님';
	  document.querySelector("#vet").appendChild(listItem);
  }
  
//시간 뿌려주기(의사, 날짜 를 선택하는 순간 그에 맞춰서 시간 바꿔주기)
// //기본적으로 영업시간에 기준해서 시간 뿌려주기

  vet.addEventListener("change", function(e){
	  document.querySelector("#time_slot").innerHTML="";
		selectedVet = e.target.value
// 		console.log(selectedVet)
// 		console.log(selectedDate)
		if(selectedDate == null){
			alert("진료 예약을 원하는 날짜를 먼저 선택해주세요!")
		}
		
		//해당날짜 기본 타임슬롯보여주기
		if(basicHoursArr[selectedDay] !=null){
			let selectedBasicTime = basicHoursArr[selectedDay]["day"]
			showDates(selectedBasicTime[0], selectedBasicTime[1], selectedBasicTime[2], selectedBasicTime[3])
			//해당날짜 해당선생님의 availability보여주기
			console.log(Object.keys(vetAvailInfo))
			Object.keys(vetAvailInfo).forEach(key=>{
				if(key.split("//")[0] == selectedVet){
					for(v of vetAvailInfo[key]){
						if(convertToTimeZone(v.date, 'Asia/Seoul') == selectedDate){
							console.log(v.time.slice(0,5))
							document.querySelector("span[value='"+v.time.slice(0,5)+"']").classList.add("disabled");
						}
					}
				}
			})
		}
	})
}
xhttp.open("GET", "http://localhost:9001/api/v1/user/reservation?id="+hosId, true);
xhttp.setRequestHeader("username", 1);
xhttp.send();

function formattingDate(date){
	let newDate = date.slice(0,10);
	return newDate;
}


function convertingDate(basicHours, day){
	let startTime;
	let endingTime;
	let lunchStart;
	let lunchEnd;
	//영업하는 날 시간 구하기
	if(basicHours[day][0].slice(7) !="영업 안함"){
		startTime = basicHours[day][0].slice(7).split("//")[0];
		endingTime = basicHours[day][0].slice(7).split("//")[1];
		//영업하면서&점심시간있음
		if(basicHours[day][1].slice(7) !="점심시간 없음"){
			lunchStart = basicHours[day][1].slice(7).split("//")[0];
			lunchEnd = basicHours["mon"][1].slice(7).split("//")[1];
		}else{
			//영업하지만&점심시간없음
			lunchStart = 0;
			lunchEnd = 0;
		}
	}else{
		//영업 안 하는 날
		startTime = 0;
		endingTime = 0;
		lunchStart = 0;
		lunchEnd = 0;
	}
	return {day : [startTime, endingTime, lunchStart, lunchEnd]};
}

function showDates(startTime, endTime, lunchStart, lunchEnd){
	if(startTime == 0|| endTime == 0 || lunchStart == 0 ||lunchEnd == 0){
		document.querySelector("#time_slot").innerHTML="<h1>휴무</h1>"
		return;
	}
    // 시간을 분 단위로 변환
    let [startHour, startMinute] = startTime.split(":").map(Number);
    let [endHour, endMinute] = endTime.split(":").map(Number);
    let [lunchStartHour, lunchStartMinute] = lunchStart.split(":").map(Number);
    let [lunchEndHour, lunchEndMinute] = lunchEnd.split(":").map(Number);
    
    let startTotalMinutes = startHour * 60 + startMinute;
    let endTotalMinutes = endHour * 60 + endMinute;
    let lunchStartTotalMinutes = lunchStartHour * 60 + lunchStartMinute;
    let lunchEndTotalMinutes = lunchEndHour * 60 + lunchEndMinute;
    
    // 30분 간격으로 버튼 생성
    let currentMinutes = startTotalMinutes;
    while (currentMinutes < endTotalMinutes) {
        let hours = Math.floor(currentMinutes / 60);
        let minutes = currentMinutes % 60;
        
        let timeString = String(hours).padStart(2, '0') + ":" + String(minutes).padStart(2, '0');
        let listItem = document.createElement("span");
        listItem.setAttribute("value", timeString);
        listItem.classList = "time_slot"
        listItem.innerHTML = timeString;
        document.querySelector("#time_slot").appendChild(listItem);
        currentMinutes += 30;
        
        if (currentMinutes > lunchStartTotalMinutes && currentMinutes <= lunchEndTotalMinutes) {
            listItem.classList.add("disabled");
        } else {
            listItem.addEventListener("click", function() {
                // click 이벤트 핸들링
                console.log("예약 시간: " + timeString);
            });
        }
        listItem.addEventListener("click", function() {
        	//click이벤트 핸들링
            console.log("예약 시간: " + timeString);
        	selectedTime = timeString;
        });
    }
}

function getBasicBusinessHours(basicHours){
	let sun = convertingDate(basicHours, "sun");
	let mon = convertingDate(basicHours, "mon");
	let tue = convertingDate(basicHours, "tue");
	let wed = convertingDate(basicHours, "wed");
	let thu = convertingDate(basicHours, "thu");
	let fri = convertingDate(basicHours, "fri");
	let sat = convertingDate(basicHours, "sat");
	let hol = convertingDate(basicHours, "hol");
	return [sun, mon, tue, wed, thu, fri, sat];
}

function convertToTimeZone(date, timeZone) {
    // 시간대를 변환한 날짜를 생성
    const dateInTimeZone = new Date(date.toLocaleString('en-US', { timeZone }));

    // 년, 월, 일을 가져옴
    const year = dateInTimeZone.getFullYear();
    const month = String(dateInTimeZone.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더함
    const day = String(dateInTimeZone.getDate()).padStart(2, '0');

    // yyyy-MM-dd 형식으로 반환
    return year+"-"+ month+"-"+day;
}

function submitForm(e){
	e.preventDefault();
	console.log("폼 보내야즤")
	let formData = {
		"hospitalId": hosId,
		"doctorId": selectedVet,
		"date" : document.querySelector("input[type=date]").value,
		"time" : selectedTime,
		"pet" : document.querySelector("#pet").value,
		"type": document.querySelector("#type").value,
		"memo": document.querySelector("textarea").value,
		"coupon" : document.querySelector("#coupon").value,
		"point":document.querySelector("input[name=points_used]").value,
	}
	
	console.log(formData)
	
	 const xhttp = new XMLHttpRequest();
	  xhttp.onload = function() {
// 	    document.getElementById("demo").innerHTML = this.responseText;
	    //다른페이지로 이동?ㅎㅎ,,
	    		
	    location.href="/"
	    }
	  xhttp.open("POST", "http://localhost:9001/api/v1/user/reservation", true);
	  xhttp.setRequestHeader("username", 1);
	  xhttp.setRequestHeader("Content-type", "application/json");
	  xhttp.send(JSON.stringify(formData));
}
</script>



</body>

</html>