<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>견강할고양</title>
<script type="text/javascript"
	src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=v02baxm8gp"></script>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/vet_list_region.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap"
	rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
	<div th:replace="~{user/header :: header}"></div>
	<div class="container-xl">
	<img class="loading-overlay" id="loading" src="/images/loading_black.gif">
		<h1 class="mt-3 mt-md-5 mb-3 mb-md-3">지역별 동물병원 리스트</h1>
		<div class="search_container">
			<div class="d-flex flex-row mt-3">
				<input type="text" name="search_vet" placeholder="동물병원을 검색해보세요">
				<input id="keywordSearchBtn" class="btn btn-main ms-2" type="button" value="검색">
			</div>
			<div class="result_container">
				<div id="results" class="results"></div>
			</div>
		</div>
			
		<div class="filterContainer">
			<div class="filter">
				<div class="cityContainer"></div>
			</div>
			<div class="filter">
				<div class="guContainer"></div>
			</div>	
		</div>
		<div class="d-flex flex-column align-items-end">
			<div class="d-flex flex-row mt-3" style="font-family:'Jua';">
	           <button id="searchBtn" class="btn btn-main mb-2 ms-2">검색하기</button>
	           <button id="resetBtn" class="btn btn-main mb-2 ms-2 me-2" onclick="resetFilter()">검색초기화하기</button>
	        </div>
           <div class="dropdown mt-5 me-2" style="font-family:'Jua';">
               <button class="btn btn-secondary dropdown-toggle btn-main" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                   정렬
               </button>
               <ul class="dropdown-menu">
                   <li><button id="sortingReserv" class="dropdown-item" type="button" onclick="sortingReserv(event)">예약가능 병원 순</button></li>
                   <li><button id="sortingPoint" class="dropdown-item" type="button" onclick="sortingPoint(event)">포인트제휴 병원 순</button></li>
               </ul>
           </div>
        </div>

		
		
		<div class="vet_list">
        	<div class="inner"></div> 
    	</div>
	
	
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
	        <img onclick="checkBookmark(event)" id="bookmarkImg" style="width:40px; display:none;" src="/images/bookmark.png">
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <div id="hospital_id" style="display:none;">번호</div>
	        <div class='modal-item'><span class="modal-sub-title">번호</span><span id="phone">번호</span></div>
	        <div class='modal-item'><span class="modal-sub-title">주소</span><span id="address">주소</span></div>
	        <div class='modal-memVetInfo' style="display:none;">
	          <div class='modal-item'><span class="modal-sub-title">영업시간</span><span id="working_hour" style="display:none;">영업시간</span></div>
	          <div class="modal-item img_container" style="display:none;"><img id="logo" src="" style="display:none;" alt="로고"/></div>
	          <div class='modal-item'><img style="width:35px; transform: rotate(-20deg);" src="/images/pin_p.svg"><span class="modal-sub-title">포인트제휴여부</span><span id="point" style="display:none;">포인트제휴여부</span></div>
	          <div class='modal-item'><span class="modal-sub-title">병원소개</span><span id="introduction" style="display:none;">병원소개</span></div>
	          <div class='modal-item'>
	            <span class="modal-sub-title">평균별점</span>
	            <div class="reviewContainer">
	              <div id='review_overview'>
		              <span id="avgReview">평균별점</span>
		              <span id="reviewStars"></span>
		              <span id="reviewCount">리뷰 개수</span>
		              <div id="reviewDistribution">
		                <!-- 리뷰 분포 그래프 -->
		              </div>
	              <a id="toggleReviews" style="display: none;">리뷰 보기</a>
	              </div>
	              <div id="reviewList" style="display: none;">
	                <div id="review"></div>
	              </div>
	            </div>
	          </div>
	          <div class='modal-item'><span class="modal-sub-title">대표자이름</span><span id="representative" style="display:none;">대표자이름</span></div>
	          <div class='modal-item'><span class="modal-sub-title">이메일</span><span id="email" style="display:none;">이메일</span></div>
	          <div class='modal-item'><span class="modal-sub-title">사업자번호</span><span id="businessNumber" style="display:none;">사업자번호</span></div>
	          <div class="row">
	            <div class="col-6 p-1">
	              <button style="display:none; width: 100%;" class="btn btn-user-sub reservationBtn" onclick="makeReservation(event)">예약하기</button>
	            </div>
	            <div class="col-6 p-1">
	              <button style="display:none; width: 100%;" class="btn btn-hospital-sub chatBtn" onclick="chat(event)">문의채팅</button>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
	
	
	<div th:replace="~{user/footer :: footer}"></div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/vet_list_region.js"></script>
	<script type="text/javascript" src="/js/modal.js"></script>

</body>

</html>